asgiref==3.3.1
avwx==1.0.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
bootstrap4==0.1.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
chartkick==0.5.0
decorator==4.4.2
Django==3.1.7
django-bulma==0.6.0
django-widget-tweaks==1.4.5
googletrans==3.0.0
gunicorn==19.9.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
html5lib==1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
jsonpath-rw==1.4.0
lxml==4.6.2
metar==1.8.0
node==0.9.24
nodejs==0.1.1
npm==0.1.1
odict==1.7.0
optional-django==0.1.0
parsimonious==0.8.1
Pillow==8.1.0
plumber==1.5
ply==3.11
psycopg2==2.8.3
pycparser==2.20
pyflightdata==0.8.5
python-dateutil==2.8.1
pytz==2019.2
requests==2.25.1
rfc3986==1.4.0
six==1.15.0
sniffio==1.2.0
soupsieve==2.1
sqlparse==0.3.0
urllib3==1.26.2
webencodings==0.5.1
whitenoise==4.1.4
zope.component==4.5
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==4.2.0
zope.interface==4.6.0
zope.lifecycleevent==4.3
zope.proxy==4.3.2
