{% extends 'temp_plan_vuelo/baseadmin.html' %}
{% load static %}

{% block title %}
<title>Upsilon | Códigos y abreviaturas</title>
{% endblock title %}



{% block extra_head %}
<link rel='stylesheet' href='https://harvesthq.github.io/chosen/chosen.css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- <link rel="stylesheet" href="{% static 'theme-assets/css/aprobar_plan.css' %}"> -->
<link rel="stylesheet" href="{% static 'theme-assets/css/pib.css' %}">

<style>
  #vue-table {
    margin: 2em 0;
  }

  #vue-table a {
    font-weight: bold;
    text-decoration: none;
  }

  #vue-table a.active {
    font-weight: bold;
    color: black;
    text-decoration: underline;
  }
</style>

{% endblock extra_head %}




<!-- ////////////////////////////////////////////////////////////////////////////-->


{% block content %}

<!--BARRA LATERAL O MENU LATERAL-->
<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="false">

  <div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
      <li class="active">
        <a href="#_8400">
          <i class="ft-home"></i>
        </a>
      </li>
      <li class=" nav-item">
        <a href="#_8126">
          <i class="ft-pie-chart"></i>
        </a>
      </li>

    </ul>
  </div>

</div>
<!--BARRA LATERAL O MENU LATERAL-->



<!-- DOCUMENTO 8400 -->
<div id="_8400"></div><br><br><br><br>
<section>
  <div class="row justify-content-center">
    <div class="col-10" style="align-content: center;">
      <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%; ">

        <!--CONTENIDO DE LA TABLA DE PLANES RECIENTES-->

        <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">

          <!--==========================
                    BOLETIN DE INFORMACION RAPIDA
                     ============================-->
          <section class="section-bg">
            <div class="container-fluid">

              <div class="section-header" style="text-align:center;">
                <br><br><br>

                <h2 class="section-title">DOCUMENTO 8400</h2>

                <span class="section-divider"></span>
                <p class="section-description">
                  Diccionario buscador de significados
                </p>

                <div class="container">
                  <div id="vue-table">

                    <div id="app">
                      
                      <input type="text" v-model="searchQuery" v-on:keyup.enter="filteredPeople" class="form-control" placeholder="Abreviatura o texto claro... " style="text-transform:uppercase;" >

                      <span>[[respuesta]]</span>


                      <br>
                      <br>

                      <h3> Abreviaturas </h3>

                      <table class="table table-striped">

                        <thead>
                          <tr>
                            <th v-for ="column in columns">
                              <a href="#"><!--  v-on="click: sortBy(column)" v-class="active: sortKey == column">  --> 
                                [[ column ]]
                              </a>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                          <!-- <tr v-repeat="people | filterBy search | orderBy sortKey reverse"> -->
                          <tr v-for="person in filtro ">
                            <td> [[ person.abreviatura ]] </td>
                            <td> [[ person.significado_completo ]] </td>
                          </tr>

                        
                          </tr>
                        </tbody>
                      </table>


                      <br><br>
                      

                      <h3> Texto claro </h3>
                      
                      <table class="table table-striped">

                        <thead>
                          <tr>
                            <th v-for ="column in columns">
                              <a href="#"><!--  v-on="click: sortBy(column)" v-class="active: sortKey == column">  --> 
                                [[ column ]]
                              </a>
                            </th>
                          </tr>
                        </thead>

                        <tbody>
                          <!-- <tr v-repeat="people | filterBy search | orderBy sortKey reverse"> -->
                          <tr v-for="person in filtro_texto_claro ">
                            <td> [[ person.abreviatura ]] </td>
                            <td> [[ person.significado_completo ]] </td>
                          </tr>

                        
                          </tr>
                        </tbody>
                      </table>


                    </div>
                  </div>
                </div>

              </div>

            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- DOCUMENTO 8400 -->





<!-- DOCUMENTO 8126 -->
<div id="_8126"></div><br><br><br><br>
<section>
  <div class="row justify-content-center">
    <div class="col-10" style="align-content: center;">
      <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%; ">

        <!--CONTENIDO DE LA TABLA DE PLANES RECIENTES-->

        <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">

          <!--==========================
            BOLETIN DE INFORMACION RAPIDA
          ============================-->
          <section class="section-bg">
            <div class="container-fluid">

              <div class="section-header" style="text-align:center;">
                <br><br><br>

                <h2 class="section-title">DOCUMENTO 8126</h2>

                <span class="section-divider"></span>
                <p class="section-description">
                  Diccionario buscador de asuntos y estados de asunto
                </p>




                <div class="container">
                  <div id="app2">
                    <input type="text" v-model="buscarCadena8126" v-on:keyup.enter="filtro_estado_asunto" class="form-control" placeholder="Asunto y Estados de Asuntos... " style="text-transform:uppercase;" >

                    <span>[[respuesta]]</span>

                    <br>
                    <br>
                      <h3 v-model="acronimo_letra" v-model="titulo_letra"> [[acronimo_letra]] [[titulo_letra]] </h3>
                    <br>

                    <table class="table table-striped">

                      <thead>
                        <tr>
                          <th v-for ="column in columns_asunto">
                            <a href="#"><!--  v-on="click: sortBy(column)" v-class="active: sortKey == column">  --> 
                              [[ column ]]
                            </a>
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <!-- <tr v-repeat="people | filterBy search | orderBy sortKey reverse"> -->
                        <tr v-for="person in filtro_asunto_inicial">
                          <td> [[ person.id_asunto ]] </td>
                          <td> [[ person.descripcion_asunto ]] </td>
                          <td> [[ person.fraseologia_asunto ]] </td>
                        </tr>
                        
                        <tr>
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        
                        <thead>
                          <tr>
                            <th v-for ="column in columns_estado">
                              <a href="#"><!--  v-on="click: sortBy(column)" v-class="active: sortKey == column">  --> 
                                [[ column ]]
                              </a>
                            </th>
                          </tr>
                        </thead>

                        <tr v-for="person in filtro_estado_asunto_inicial">
                          <td> [[ person.id_estado_asunto ]] </td>
                          <td> [[ person.descripcion_estado ]] </td>
                          <td> [[ person.fraseologia_estado ]] </td>
                        </tr>

                      
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>



              </div>

            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- DOCUMENTO 8126 -->



{% endblock content %}


{% block extrajs %}
<script src='https://harvesthq.github.io/chosen/chosen.jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/0.11.10/vue.min.js'></script>
<script src='https://unpkg.com/vue/dist/vue.js'></script>

<script type="text/javascript">

  $(function () {

  });

  sw = true;

  //DESPLAZAMIENTO SUAVIZADO
  $('.main-menu-content a').click(function (e) {
    e.preventDefault();		//evitar el eventos del enlace normal
    var strAncla = $(this).attr('href'); //id del ancla
    $('body,html').stop(true, true).animate({
      scrollTop: $(strAncla).offset().top
    }, 200);
  });

</script>

<script>
  function getAsunto() {
    select = document.getElementById('letra_asunto_id')
    selectedOption = select.options[select.selectedIndex];
    letra = selectedOption.value

    datasend = { "letra": letra, }
    $.ajax({
      type: 'GET',
      url: '{% url 'view_getAsunto' %}',
      data: datasend,
      //data:$(this).serialize(),
      success: function (request) {
        select_asunto = document.getElementById('asunto_id')
        clearSelect(select_asunto)

        select_asunto.appendChild(createOptionSelect(""))

        for (let i = 0; i < request.vec_asunto.length; i++) {
          valor = request.vec_asunto[i]
          select_asunto.appendChild(createOptionSelect(valor))
        }

      }
    });
  }
  function clearSelect(select) {
    for (let i = select.options.length; i >= 0; i--) {
      select.remove(i);
    }
  }
  function createOptionSelect(valor) {
    option = document.createElement('option');
    option.value = valor;
    option.text = valor;
    return option
  }
</script>

<script>
  function getEstadoAsunto() {
    select = document.getElementById('asunto_id')
    selectedOption = select.options[select.selectedIndex];
    asunto = selectedOption.value

    datasend = { "asunto": asunto, }
    $.ajax({
      type: 'GET',
      url: '{% url 'view_getEstadoAsunto' %}',
      data: datasend,
      //data:$(this).serialize(),
      success: function (request) {
        select_estado_asunto = document.getElementById('estado_asunto_id')
        clearSelect(select_estado_asunto)

        select_estado_asunto.appendChild(createOptionSelect(''))

        for (let i = 0; i < request.vec_estado_asunto.length; i++) {
          valor = request.vec_estado_asunto[i]
          select_estado_asunto.appendChild(createOptionSelect(valor))
        }
      }
    });
  }
</script>

<script>
  //BUTTON NUEVO, REEMPLAZO , CANCELADO
  function nuevo_notam() {
    document.getElementById("titulo_form").innerHTML = "NUEVO"

  }

  function reemplazo_notam() {
    document.getElementById("titulo_form").innerHTML = "REENPLAZO"
  }

  function cancelacion_notam() {
    document.getElementById("titulo_form").innerHTML = "CANCELACIÓN"
  }
</script>


<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      // -------------- 8400 -----------------
      searchQuery: '',
      respuesta:'',
      people: ['Apple', 'Banana', 'Orange', 'Facebook', 'Twitter', 'Youtube'],
      columns: ['Abreviatura', 'Descripción'],
      diccionario: [],
      diccionario2: [],
      // -------------- 8400 -----------------

      
      buscarCadena8126: '',
      
    },
    computed: {
      // -------------- 8400 -----------------
      filtro: function () {
        var self = this;
        self.searchQuery=self.searchQuery.toUpperCase();
        variable=self.diccionario.filter(function (user) {
          return user.abreviatura.indexOf(self.searchQuery) !== -1;
        })
        if(variable.length>0){
          return variable 
        }
      },
      filtro_texto_claro: function () {
        var self = this;
        self.searchQuery=self.searchQuery.toUpperCase();
        variable=self.diccionario2.filter(function (user) {
          return user.abreviatura.indexOf(self.searchQuery) !== -1;
        })
        if(variable.length>0){
          return variable 
        }
      },
      // -------------- 8400 -----------------

    },
    methods: {
      // -------------- 8400 -----------------
      filteredPeople: function () {
        var self = this;
        variable=self.diccionario.filter(function (user) {
          return user.abreviatura.indexOf(self.searchQuery) !== -1;
        })
        if(variable.length>0){
          return variable 
        }else{
          this.created(this.searchQuery)
        }
      },
      created: function (parametro) {
        
        (async() => {
          //alert("INTENTANDO EN LA bd")

          await this.getResponse(parametro)
          
          if(this.diccionario.length >0 || this.diccionario2.length >0 ){
            this.respuesta='';
            this.searchQuery="";
          }else{
            this.respuesta="No se encontraron resultados.";
          }
        })();
      },
      getResponse: async function(parametro){
        parametro = parametro.toUpperCase();
        const url = '{% url 'view_get_abreviatura8400' %}' + "?abreviatura="+parametro
        await axios.get(url).then(response => {this.diccionario = (response.data.abreviaturas); this.diccionario2 = (response.data.texto_claro)}).catch(function (error) { console.log(error); });
        //console.log(this.diccionario2)
      },
      // -------------- 8400 -----------------


    }
      
      
  });

  
</script>

<script>
  new Vue({
    el: '#app2',
    delimiters: ['[[', ']]'],
    data: {
      // -------------- 8400 -----------------
      titulo_letra: "Titulo de la letra",
      acronimo_letra: "",
      buscarCadena8126: '',
      
      respuesta:'',
      
      people: ['Apple', 'Banana', 'Orange', 'Facebook', 'Twitter', 'Youtube'],
      
      columns_asunto: ['Asunto', 'Descripción','Fraseología'],
      columns_estado: ['Estado de asunto', 'Descripción','Fraseología'],
      
      asuntos: [],
      estados_asunto: [],
      // -------------- 8400 -----------------

      
      
    },
    computed: {
      filtro_asunto_inicial: function () {
        var self = this;
        self.buscarCadena8126=self.buscarCadena8126.toUpperCase();
        variable=self.asuntos.filter(function (user) {
          return user.id_asunto.indexOf(self.buscarCadena8126) !== -1;
        })
        if(variable.length>0){
          return variable 
        }
      },
      filtro_estado_asunto_inicial: function () {
        var self = this;
        self.buscarCadena8126=self.buscarCadena8126.toUpperCase();
        variable=self.estados_asunto.filter(function (user) {
          return user.id_estado_asunto.indexOf(self.buscarCadena8126) !== -1;
        })
        if(variable.length>0){
          return variable 
        }
      },
    },
    methods: {
      filtro_estado_asunto: function () {
        //SE ACTIVA CUANDO SE PRESIONA LA TECLA ENTER
        var self = this;
        variable=self.asuntos.filter(function (user) {
          return user.id_asunto.indexOf(self.buscarCadena8126) !== -1;
        })
        if(variable.length>0){
          return variable 
        }else{
          if(this.buscarCadena8126.length > 0 && this.buscarCadena8126.length < 3){
            this.buscando_8126(this.buscarCadena8126)
          }
        }
      },
      buscando_8126: function (parametro) {
        (async() => {
          //alert("INTENTANDO EN LA bd")

          await this.getResponse8126(parametro)
          
          if(this.asuntos.length >0 || this.estados_asunto.length >0 ){
            this.respuesta='';
            this.buscarCadena8126="";
          }else{
            this.respuesta="No se encontraron resultados.";
          }
        })();
      },
      getResponse8126: async function(parametro){
        parametro = parametro.toUpperCase();
        const url = '{% url 'view_get_codigo8126' %}' + "?string8126="+parametro
        await axios.get(url).then(response => {this.titulo_letra=response.data.titulo_letra; this.acronimo_letra=response.data.acronimo_letra ; this.asuntos = (response.data.asuntos); this.estados_asunto = (response.data.estados_asuntos)}).catch(function (error) { console.log(error); });
        console.log(this.asuntos)
        console.log(this.estados_asunto)
        //titulo_letra
      },

    }
      
      
  });

  
</script>
{% endblock extrajs %}



<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- ////////////////////////////////////////////////////////////////////////////-->
