{% extends 'temp_plan_vuelo/baseadmin.html' %}
{% load static %}


{% block title %}
<title>Upsilon | Panel</title>
{% endblock title %}



{% block extra_head %}
<style>
    /* -------------- CARDS OF BUTTONS, MAIN MENU FOR INDEX -------------- */
    .buttons {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: stretch;
        margin-left: 15%;
        margin-right: 15%;
    }

    /* PASTE BELOW IN CSS */

    .buttons * {
        transition: all .5s ease;
    }

    .buttons {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .butFrame {
        overflow: hidden;
        text-align: center;
        position: relative;
        display: block;
        cursor: pointer;
        color: #fff;
        background: #fff;
        font-size: 1em;
        font-family: inherit;
        cursor: pointer;
        border-radius: 80px;
        margin: 40px;
        padding: 25px 5px;
        -webkit-flex: 1 250px;
        -ms-flex: 1 250px;
        flex: 1 250px;
        border: 6px solid white;
    }

    .buttons .butFrame .butHeading {
        color: #3b3838;
        padding: 0px 0 20px;
        font-weight: 400;
        font-family: inherit;
        font-size: 1.2em;
        text-transform: uppercase;
    }

    .buttons .butFrame img {
        width: 100%;
        max-width: 80px;
        height: auto;
        vertical-align: bottom;
    }

    .buttons .butFrame .butText {
        padding: 10px 0;
        color: #999;
    }

    /* HOVER STYLES */

    .buttons .butFrame:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
        border: 6px solid #ff4600;
    }

    .butFrame:hover,
    .butFrame:active {
        animation: bounce 0.6s ease;
        -webkit-animation: bounce 0.6s ease;
    }

    @keyframes bounce {
        0% {
            top: 0px;
        }

        25% {
            top: -10px;
        }

        50% {
            top: 5px;
        }

        75% {
            top: -5px;
        }

        100% {
            top: 0px;
        }
    }

    @-webkit-keyframes bounce {
        0% {
            top: 0px;
        }

        25% {
            top: -10px;
        }

        50% {
            top: 5px;
        }

        75% {
            top: -5px;
        }

        100% {
            top: 0px;
        }
    }

    /* MEDIA QUERIES */

    @media all and (max-width: 950px) and (min-width: 701px) {
        .butFrame {
            display: block;
            -webkit-flex: 1 50%;
            -ms-flex: 1 50%;
            flex: 1 50%;
        }
    }

    @media all and (max-width: 700px) and (min-width: 0px) {
        .butFrame {
            display: block;
            -webkit-flex: 1 100%;
            -ms-flex: 1 100%;
            flex: 1 100%;
        }
    }

    /* -------------- CARDS OF BUTTONS, MAIN MENU FOR INDEX -------------- */



    /* -------------- MENU DE APPS EN DROPDOWNS -------------- */
    #buttonapps {
        position: relative;
        margin-top: 35%;
        left: 50%;
        transform: translate(-50%, -25%);

    }

    #buttonapps:after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%);
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #34495e;
        transition: 0.2s 0s;
    }

    #buttonapps.clicked:after {
        border-width: 0px;
        transition: 0.2s 0.2s;
    }

    .navapps {
        position: absolute;
        top: calc(100% + 15px);
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        height: 300px;
        transition: 0.3s 0.3s;
        font-size: 0;
        background: #34495e;
    }

    #buttonapps.clicked .navapps {
        height: 0px;
        visibility: hidden;
        transition: 0.2s 0s;
    }

    .refapps {
        width: calc(100% / 3);
        height: calc(100% / 3);
        display: inline-block;
        font-size: initial;
        transition: 0.2s 0.2s;
    }

    #buttonapps.clicked .navapps .refapps {
        font-size: 0;
        transition: 0s 0s;
    }

    .navapps #icons {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, 0.7);
        transition: color 0.4s;
    }

    .navapps .refapps:hover #icons {
        color: rgba(255, 255, 255, 0.9);
    }

    /* -------------- MENU DE APPS EN DROPDOWNS -------------- */
</style>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock extra_head %}





{% block content %}
<!-- /.modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
<!-- /.modal -->

<div style="margin-top:1%;">
    <h1 align="center">
        {{user.get_username | upper}}
    </h1>


    <div class="buttons">
        <div class="butFrame bounce">
            <a href="{% url 'view_todos_notams' %}">
                <img src="http://www.neodigital.com.au/thumbnailsmall/Button6.jpg" />
                <div class="butHeading">TRAFICO NOTAM AMHS</div>
            </a>
        </div>

        <div class="butFrame bounce">
            <a href="{% url 'view_todos_notams' %}">
                <img src="http://www.neodigital.com.au/thumbnailsmall/Button6.jpg" />
                <div class="butHeading">BANCO NOTAM</div>
            </a>
        </div>
        

    </div>


    
    <div class="buttons">

        <div class="butFrame bounce">
            <a href="{% url 'view_pib_tiemporeal' %}">
                <img src="http://www.neodigital.com.au/thumbnailsmall/Button6.jpg" />
                <div class="butHeading">PIB TIEMPO REAL</div>
            </a>
        </div>

        <div class="butFrame bounce">
            <a href="{% url 'view_codigos_abreviaturas' %}">
                <img src="http://www.neodigital.com.au/thumbnailsmall/Button6.jpg" />
                <div class="butHeading">CODIGOS Y ABREVIATURAS</div>
            </a>
        </div>


    </div>


    <div class="buttons">

        <div class="butFrame bounce" onClick="window.location='#'">
            <a href="{% url 'view_admin_coordinacion' %}">
                <img src="http://www.neodigital.com.au/thumbnailsmall/Button1.jpg" />
                <div class="butHeading">Trafico FPL</div>
            </a>
        </div>

        <div class="butFrame bounce">
            <!--onClick="window.location='#'"-->
            <a href="{% url 'view_carta_navegacional' %}">
                <img src="http://www.neodigital.com.au/thumbnailsmall/Button6.jpg" />
                <div class="butHeading">CARTA NAVEGACIONAL</div>
            </a>
        </div>

    </div>



   

</div>




{% endblock content %}





{% block extrajs %}
<script>

    function abrir_modal(url) {
        //alert(url);
        $("#modal").load(url.trim(), function () {
            $(this).modal('show');
        });
    }

</script>
{% endblock extrajs %}