{% extends 'temp_plan_vuelo/baseadmin.html' %} 
{% load static %} 

{% block title %}
<title>Upsilon | PIB</title>
{% endblock title %}



{% block extra_head %}
    <link rel='stylesheet' href='https://harvesthq.github.io/chosen/chosen.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'theme-assets/css/aprobar_plan.css' %}"> -->
    <link rel="stylesheet" href="{% static 'theme-assets/css/pib.css' %}">

{% endblock extra_head %}
    



<!-- ////////////////////////////////////////////////////////////////////////////-->


{% block content %}





<!-- Plan de vuelos recientes -->
<div id="_planes_recientes"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%; ">
                
                <!--CONTENIDO DE LA TABLA DE PLANES RECIENTES-->
               
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">

                    <!--==========================
                    BOLETIN DE INFORMACION RAPIDA
                     ============================-->
                    <section id="PIB" class="section-bg" >
                        <div class="container-fluid">

                            <div class="section-header" style="text-align:center;">
                                <br><br><br>
                                <h2 class="section-title">PIB</h2>
                                <a data-action="reload" >
                                    <i class="ft-rotate-cw" id="update_fpl1"></i>
                                </a>
                                
                                <span class="section-divider"></span>
                                <p class="section-description">
                                    Boletín de información previa al vuelo.
                                </p>

                                
                                
                                <div class="container">          
                                    <table class="table table-bordered" >
                                      <tbody style="text-align:center;">
                                        <tr>
                                            <td style="width:25%;vertical-align:middle;font-size:12px;" rowspan="2"> <strong>BOLETIN DE INFORMACIÓN PREVIA AL VUELO</strong>  <br> <br> INFORMACION GENERAL  </td>
                                            <td style="width:50%;vertical-align:middle;"> <strong>ESTADO PLURINACIONAL DE BOLIVIA <br> AEROPUERTO INTERNACIONAL DE EL ALTO </strong> </td>
                                            <td style="width:13%;vertical-align:middle;font-size:12px;"> <strong>Fecha y Hora<br>de Expedición</strong> </td>
                                            <td style="width:12%;vertical-align:middle;font-size:12px;" rowspan="3"> 
                                                <strong> Ruta o Área <br> cubierta</strong> 
                                                <br> <br> 
                                                FIR LA PAZ 
                                                <br> <br> 
                                                <a class="btn btn-outline-primary" target="_blank" href="{% url 'view_imprimir_pibrealtime' %}">
                                                    <span class="material-icons md-18">
                                                        local_printshop
                                                    </span>
                                                </a>

                                            </td>
                                        </tr>
                                  
                                        <tr>
                                          
                                          <td style="width:50%;"> <img src="https://www.aasana.bo/files/logoa.jpg" style="width:180px; height:65px;"> </td>
                                          <td style="width:13%;vertical-align:middle;font-size:12px;">04/05/2020</td>
                                        </tr>
                                         
                                        <tr>
                                            <td style="width:25%;"></td>
                                            <td style="width:50%;"> 

                                            </td>
                                            <td style="width:13%;">0000 UTC</td>
                                         
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>




                            </div>

                            <div class="row">
                                
                                <div class="col-lg-6  wow fadeInLeft">
                                    <div class="containerpib">
                                        <div id="accordion" class="panel-group">

                                            <div id="mitad1">

                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>





                                <div class="col-lg-6  wow fadeInRight">
                                    <div class="containerpib">
                                        <div id="accordion" class="panel-group">

                                            <div id="mitad2">

                                            </div>

<!--
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#panelBodySLBJ" class="accordion-toggle" data-toggle="collapse"
                    data-parent="#accordion">SLBJ</a>
            </h4>
        </div>
        <div id="panelBodySLBJ" class="panel-collapse collapse show in">
            <div class="panel-body">
                <div class=" table-responsive">
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th style="width:30px;">Instalacion</th>
                                <th class="col-md-6">Informacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ATS/COM/MET</td>
                                <td>DESDE 31/DIC/19 HR 1405 SERVICIOS EN AERODROMO SIN ATENCION HASTA 31/ENE/20 HR 1800 EST.   (C3299)  </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
                                                
    <div class="panel">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#panelBodySLCO" class="accordion-toggle collapsed"
                    data-toggle="collapse" data-parent="#accordion">SLCO</a>
            </h4>
        </div>
        <div id="panelBodySLCO" class="panel-collapse collapse">
            <div class="panel-body">
                <div class=" table-responsive">
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th style="width:30px;">Instalacion</th>
                                <th class="col-md-6">Informacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>AD</td>
                                <td>DESDE 29/DIC/19 HR 1325 OPERACIONES NOCTURNAS EN AERODROMO SIN ATENCION HASTA 28/FEB/20 HR 2359   (C3261) </td>
                            </tr>
                            <tr>
                                <td>AVGAS 100</td>
                                <td>DESDE 16/ENE/20 HR 1300 NO DISPONIBLE HASTA 20/ENE/20 HR 2200 EST.   (C0115)   </td>
                            </tr>
                            <tr>
                                <td>DTHR</td>
                                <td> 	DESDE 29/DIC/19 HR 1357 UMBRAL DE PISTA 02/20 DESPLAZADO PRIMEROS 100 M PISTA DISPONIBLE 1 800 M OPERACIONES CON PRECAUCION COORDINAR CON TORRE HASTA 28/FEB/20 HR 2359   (C3265) </td>
                            </tr>
                            <tr>
                                <td>IAC</td>
                                <td>DESDE 30/NOV/19 HR 2032 CARTA DE APROXIMACION POR INSTRUMENTOS RNAV GNSS "Z" PISTA/02 SLCO SOLAMENTE UTILIZACION MINIMOS PUBLICADOS PARA CIRCULACION VISUAL, MINIMOS DE TECHO Y VISIBILIDAD PARA APROXIMACION DIRECTA PISTA/02 SUSPENDIDOS HASTA 30/MAR/20 HR 2300 EST.   (C2991)  </td>
                            </tr>
                            <tr>
                                <td>REDL</td>
                                <td>DESDE 29/DIC/19 HR 1335 LUCES DE BORDE DE PISTA 02/20 INUTILIZABLE HASTA 28/FEB/20 HR 2359   (C3263)   </td>
                            </tr>
                            <tr>
                                <td>RTHL</td>
                                <td>DESDE 29/DIC/19 HR 1329 LUCES DE UMBRAL DE PISTA 02/20 INUTILIZABLE HASTA 28/FEB/20 HR 2359   (C3262)  </td>
                            </tr>
                            <tr>
                                <td>TWY</td>
                                <td>DESDE 15/ENE/20 HR 1955 CALLE DE RODAJE "B" TEMPORALMENTE HABILITADA:
                                    ANCHURA:23 M
                                    SUPERFICIE: PAVIMENTO FLEXIBLE
                                    RESISTENCIA: PCN 43/F/C/X/T
                                    HASTA 30/ABR/ HR 2300 EST.   (C0109)    </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

-->

                                        </div>
                                    </div>
                                </div>


                            </div>
                            <br><br><br><br>

                        </div>

                    </section>

                </div>
            </div>
        </div>
    </div>
</section>

<div id="contenidopib"></div>
<!-- Planes de vuelo recientes -->



{% endblock content %} 


{% block extrajs %}
<script src='https://harvesthq.github.io/chosen/chosen.jquery.js'></script>

<script type="text/javascript">

    $(function(){
            setInterval(() => {
                updatepib();
            }, 10000);
    });

    sw=true;

    function updatepib(){
        $.ajax({
            type:'GET',
            url: "{% url 'view_pibupdate_tiemporeal' %}",
            //data:$(this).serialize(),
            success: function (request){
                lista=JSON.parse(request)
                middle= parseInt(lista.length/2)

                if(sw){
                    llenarMitad1(lista, middle)
                    llenarMitad2(lista,middle)
                    sw=false;
                }

                for (let i = 0; i < middle; i++) {
                    element = lista[i];
                    aeropuerto=element['icao']

                    id_pibs='msjs_'+aeropuerto
                    document.getElementById(id_pibs).innerHTML=""

                    listap=element['pibs']
                    for (let j = 0; j < listap.length; j++) {
                        notam = listap[j];
                        
                        g = '<tr> <td>' + notam['instalacion'] // "<br> Desde: " + notam['valid_desde'].substr(0,16)
                        h = '</td> <td>'
                        i2 = notam['msj_publicado']// msj for publication
                        j2 = '</td> </tr> '
                        
                        document.getElementById(id_pibs).innerHTML+=(g+h+i2+j2);
                    }
                }
                for (let i = middle; i < lista.length; i++) {
                    element = lista[i];
                    aeropuerto=element['icao']

                    id_pibs='msjs_'+aeropuerto
                    document.getElementById(id_pibs).innerHTML=""

                    listap=element['pibs']
                    for (let j = 0; j < listap.length; j++) {
                        notam = listap[j];
                        
                        g = '<tr> <td>' + notam['instalacion'] //+ "<br>" + notam['estacion']
                        h = '</td> <td>'
                        i2 = notam['msj_publicado']// msj for publication
                        j2 = '</td> </tr> '
                        
                        id_pibs='msjs_'+aeropuerto
                        document.getElementById(id_pibs).innerHTML+=(g+h+i2+j2);
                    }
                }
            }
        });
    }

    function llenarMitad1(lista, middle) {
        for (let i = 0; i < middle; i++) {
                    element = lista[i];
                    aeropuerto=element['icao']

                    a = '<div class="panel"> <div class="panel-heading"> <h4 class="panel-title">'
                    b = '<a href="#panelBody' + aeropuerto + '" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">'
                    c = aeropuerto
                    d = '</a> </h4> </div>'
                    e = '<div id="panelBody' + aeropuerto +'" class="panel-collapse collapse in">' //class="panel-collapse collapse show in">
                    f = '    <div class="panel-body"> <div class=" table-responsive"> <table class="table table-hover" > <thead> <tr> <th style="width:30px;">Instalacion</th> <th class="col-md-6">Informacion</th> </tr> </thead> <tbody id="msjs_'+aeropuerto+'">' 
                    
                    k = '</tbody> </table> </div> </div>'
                    
                    document.getElementById('mitad1').innerHTML+=(a+b+c+d+e+f  +k) + "<br>"
                }
    }

    function llenarMitad2(lista, middle) {
        for (let i = middle; i < lista.length; i++) {
                    element = lista[i];
                    aeropuerto=element['icao']

                    a = '<div class="panel"> <div class="panel-heading"> <h4 class="panel-title">'
                    b = '<a href="#panelBody' + aeropuerto + '" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">'
                    c = aeropuerto
                    d = '</a> </h4> </div>'
                    e = '<div id="panelBody' + aeropuerto +'" class="panel-collapse collapse in">'
                    f = '    <div class="panel-body"> <div class=" table-responsive"> <table class="table table-hover" > <thead> <tr> <th style="width:30px;">Instalacion</th> <th class="col-md-6">Informacion</th> </tr> </thead> <tbody id="msjs_'+aeropuerto+'">' 
                    
                    k = '</tbody> </table> </div> </div>'
                    
                    document.getElementById('mitad2').innerHTML+=(a+b+c+d+e+f  +k) + "<br>"
                }
    }


    function abrir_modal(url) {
        $("#modal").load(url.trim(), function() {
            $(this).modal('show');
        });
    }

    //DESPLAZAMIENTO SUAVIZADO
    $('.main-menu-content a').click(function(e){				
		e.preventDefault();		//evitar el eventos del enlace normal
		var strAncla=$(this).attr('href'); //id del ancla
			$('body,html').stop(true,true).animate({				
				scrollTop: $(strAncla).offset().top
			},200);		
    });

</script>

<script >
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
</script>


{% endblock extrajs %}



<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- ////////////////////////////////////////////////////////////////////////////-->