{% extends 'temp_plan_vuelo/baseadmin.html' %}
{% load static %}

{% block title %}
<title>Upsilon | PIB v.2</title>
{% endblock title %}



{% block extra_head %}
<link rel='stylesheet' href='https://harvesthq.github.io/chosen/chosen.css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'theme-assets/css/pib.css' %}">

<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->

<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css'>

{% endblock extra_head %}




<!-- ////////////////////////////////////////////////////////////////////////////-->


{% block content %}





<!-- Plan de vuelos recientes -->
<div id="_planes_recientes"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%; ">

                <!--CONTENIDO DE LA TABLA DE PLANES RECIENTES-->

                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">

                    <!--==========================
                    BOLETIN DE INFORMACION RAPIDA
                     ============================-->
                    <div id="appFormularioOaci">
                        <v-btn class="btn btn-outline-primary" @click='generatePDF'
                            style="position: fixed;background-color: rgb(83, 201, 255);height: 50px; width: 50px; left:90%; right: 5px;">
                            <span class="material-icons md-18">
                                local_printshop
                            </span>
                        </v-btn>
                    </div>

                    <section id="PIB" class="section-bg">
                        <div class="container-fluid" id="app2">

                            <div class="section-header" style="text-align:center;">
                                <br>
                                <table class="table table-bordered">
                                    <tbody style="text-align:center;">
                                        <tr>
                                            <td style="width:25%;vertical-align:middle;font-size:12px;" rowspan="2">
                                                <strong>BOLETIN DE INFORMACIÓN PREVIA AL VUELO</strong> <br> <br>
                                                INFORMACION GENERAL
                                            </td>
                                            <td style="width:50%;vertical-align:middle;">
                                                <strong>
                                                    ESTADO PLURINACIONAL DE BOLIVIA <br>
                                                    Administración de Aeropuertos y Servicios Auxiliares a la Navegación
                                                    Aérea</strong>

                                                <br>

                                                <img src="https://www.aasana.bo/files/logoa.jpg"
                                                    style="width:180px; height:65px;">

                                                <span class="section-divider"></span>
                                                <p class="section-description">
                                                    SERVICIO DE INFORMACIÓN AERONÁUTICA
                                                </p>
                                            </td>
                                            <td style="width:13%;vertical-align:middle;font-size:12px;" rowspan="2">
                                                <strong>Fecha y
                                                    Hora<br>de Expedición</strong> <br> [[last_updated]]
                                            </td>
                                            <td style="width:12%;vertical-align:middle;font-size:12px;" rowspan="2">
                                                <strong> Ruta o Área <br> cubierta</strong>
                                                <br> <br>
                                                FIR LA PAZ
                                            </td>
                                        </tr>

                                        <tr>

                                           

                                            <!-- <td style="width:13%;vertical-align:middle;font-size:12px;">[[last_updated]]</td> -->
                                        </tr>


                                    </tbody>
                                </table>



                            </div>
                            <div class="container">

                            </div>

                            <section id="segundo" class="acordeones">


                                <div class="menu__acordeon">
                                    <div class="menu__acordeon__uno">
                                        <div class="contenido__menu">

                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" style="width: 20%;">Lugar</th>
                                                            <th scope="col" style="width: 20%;">Instalación</th>
                                                            <th scope="col" style="width: 55%;">Información</th>
                                                            <th scope="col" style="width: 5%;">Referencia</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>

                                            <div class="accordion" id="accordion">
                                                <div class="accordion-item" style="padding-top: 5px; "
                                                    v-for="imp of impar" v-for="nombre of nombres">
                                                    <h4 class="accordion-header" :id="[imp.f]">
                                                        <!-- <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" :data-bs-target="[imp.h2]"
                                                            aria-expanded="true" :aria-controls="[imp.h]"
                                                            @click="mensaje" style="width: 350px;">
                                                            Aeropuerto [[imp.lugar]] &nbsp; &nbsp;
                                                        </button> -->
                                                    </h4>
                                                    <div :id="[imp.h]" class="accordion-collapse collapse show"
                                                        :aria-labelledby="[imp.f]">
                                                        <div class="accordion-body">
                                                            <!-- 
                                                                <h4><code>Aeropuerto de</code></h4>
                                                                <h5>Historial del Lugar</h5>
                                                                <h6><code>Nombre Lugar: [[imp.lugar]] </code></h6> 
                                                            -->

                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr v-for="nombre of nombres"
                                                                            v-if="imp.lugar === nombre.lugar">
                                                                            <td style="width: 20%;"> [[imp.lugar]] </td>
                                                                            <td scope="row" style="width: 20%;">
                                                                                [[nombre.asunto]] </td>
                                                                            <td style="width: 55%;"> 
                                                                                [[nombre.espaniol_decodificado]]
                                                                            </td>
                                                                            <td style="width: 5%;">
                                                                                [[nombre.correlativo]]</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="menu__acordeon__dos">
                                        <div class="contenido__menu">
                                            <div class="accordion accordion-flush" id="accordion2">
                                                <div class="accordion-item" style="padding-top: 5px; " v-for="pa of par"
                                                    v-for="nombre of nombres">
                                                    <!-- <h4 class="accordion-header" :id="[pa.f]"> -->
                                                    <!-- <button class="accordion-button collapsed" type="button" -->
                                                    <!--     data-bs-toggle="collapse" :data-bs-target="[pa.h2]" -->
                                                    <!--     aria-expanded="false" :aria-controls="[pa.h]" -->
                                                    <!--     @click="mensaje"  -->
                                                    <!--     style="width: 350px;"> -->
                                                    <!--     Aeropuerto [[pa.lugar]] &nbsp; &nbsp; -->
                                                    <!-- </button> -->
                                                    <!-- </h4> -->

                                                    <div :id="[pa.h]" class="accordion-collapse collapse show"
                                                        :aria-labelledby="[pa.f]">
                                                        <div class="accordion-body">
                                                            <!-- <h4><code>Aeropuerto de </code></h4>
                                            <h5>Historial del Lugar</h5>
                                            <h6><code>Nombre Lugar: [[pa.lugar]] </code></h6> -->

                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr v-for="nombre of nombres"
                                                                            v-if="pa.lugar === nombre.lugar">
                                                                            <td style="width: 20%;">[[pa.lugar]]</td>
                                                                            <td scope="row" style="width: 20%;">
                                                                                [[nombre.asunto]] </td>
                                                                            <td style="width: 55%;"> 
                                                                                [[nombre.espaniol_decodificado]]
                                                                            </td>
                                                                            <td style="width: 5%;">
                                                                                [[nombre.correlativo]]</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>


                        </div>

                    </section>

                </div>
            </div>
        </div>
    </div>
</section>

<div id="contenidopib"></div>
<!-- Planes de vuelo recientes -->



{% endblock content %}




{% block extrajs %}

<script>
    $(
        function () {
            setInterval(() => {
                app2.listado.apply();
            }, 20000);
        }
    );
</script>

<script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js'></script>


<!-- 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
    crossorigin="anonymous"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>







<script src="{% static 'index_public/js/acordeon_vue.js' %}"></script>

<script src="{% static 'pib_acordeon/acordeon_print_pib.js' %}"></script>



{% endblock extrajs %}



<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- ////////////////////////////////////////////////////////////////////////////-->