{% extends 'temp_plan_vuelo/baseadmin.html' %} 
{% load staticfiles %} 

{% block title %}
<title>Upsilon | Usuario</title>
{% endblock title %}



{% block extra_head %}
    <link rel='stylesheet' href='https://harvesthq.github.io/chosen/chosen.css'>
    <!-- <link rel="stylesheet" href="{% static 'theme-assets/css/aprobar_plan.css' %}"> -->

{% endblock extra_head %}
    



<!-- ////////////////////////////////////////////////////////////////////////////-->


{% block content %}

<!--BARRA LATERAL O MENU LATERAL-->
<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="false">

    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="active">
                <a href="#_planes_recientes">
                    <i class="ft-home"></i>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#_planes_aprobados">
                    <i class="ft-pie-chart"></i>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#_notams">
                    <i class="ft-droplet"></i>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#_metars">
                    <i class="ft-layers"></i>
                </a>
            </li>
        </ul>
    </div>

</div>
<!--BARRA LATERAL O MENU LATERAL-->

<br>

<!-- Plan de vuelos recientes -->
<div id="_planes_recientes"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%; ">

                <div class="card-header">
                    <h4 class="card-title">PLanes Recientes</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <!--BUSCAR-->
                            <li class="nav-item dropdown navbar-search">
                                <a class="nav-link dropdown-toggle hide" data-toggle="dropdown" href="#">
                                    <i class="ficon ft-search"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="arrow_box">
                                        <div class="input-group search-box">
                                            <div class="position-relative has-icon-right full-width">
                                                <input class="form-control" type="text" id="buscar_flp_table" onkeyup="buscarFlp()" placeholder="Buscar FLP">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!--BUSCAR-->

                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <br>
                </div>
                <!--CONTENIDO DE LA TABLA DE PLANES RECIENTES-->
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">

                    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    </div>
                    <!-- /.modal -->

                    <div class="table-responsive">
                        <table id="tabla_planes_recientes" class="table table-striped" align="center" style="text-align:center;">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">AMHS_recibido</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Prioridad</th>
                                    <th scope="col">Origen</th>
                                    <th scope="col">Salida</th>
                                    <th scope="col">FLP.</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for elemen in post %}
                                <tr>
                                    <th id="{{elemen.id}}" width="5%" scope="row">{{elemen.id}}</th>
                                    <th width="5%">{{elemen.hora_amhs}}</th>
                                    <td width="5%">{{elemen.fecha_llegada}}</td>
                                    <td width="5%">{{elemen.prioridad}}</td>
                                    <td width="5%">{{elemen.origen|slice:"1:5"}}</td>
                                    <td width="5%">{{elemen.origen|slice:"5:9"}}</td>
                                    <td width="25%">{{elemen.id_plan|slice:"5:15"}}</td>
                                    <td width="15%">
                                        <button class="btn btn-outline-info" onclick="abrir_modal( '{% url 'view_aprobar_flp' elemen.id%}')">Ver FLP</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Planes de vuelo recientes -->


<!-- Plan de vuelos aprobados -->
<div id="_planes_aprobados"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%;">
                <div class="card-header">
                    <h4 class="card-title">Planes aprobados</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <br>

                </div>
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Planes de vuelo aprobados -->




<!--NOTAMS-->
<div id="_notams"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%;">
                <div class="card-header">
                    <h4 class="card-title">NOTAMS</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <br>

                </div>
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--NOTAMS-->


<!--METARS-->
<div id="_metars"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%;">
                <div class="card-header">
                    <h4 class="card-title">METARS</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <br>

                </div>
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" width="50px">id_amhs</th>
                                    <th scope="col">fecha_hora</th>
                                    <th scope="col">Prioridad</th>
                                    <th scope="col">Estacion</th>
                                    <th scope="col">Hora_clima</th>
                                    <th scope="col">Mensaje</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for metarlinea in metar %}
                                <tr>
                                    <th scope="row">{{metarlinea.id_amhs}}</th>
                                    <td>{{metarlinea.hora_amhs}}</td>
                                    <td>{{metarlinea.prioridad}}</td>
                                    <td>{{metarlinea.estacion}}</td>
                                    <td>{{metarlinea.hora_clima}}</td>
                                    <td>{{metarlinea.texto}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--METARS-->

{% endblock content %} 


{% block extrajs %}
<script src='https://harvesthq.github.io/chosen/chosen.jquery.js'></script>
<script src="{% static 'theme-assets/js/scripts/aprobar_plan.js' %}"></script>

<script type="text/javascript">
    //var $ = jQuery.noConflict();

    function abrir_modal(url) {
        //alert(url);
        $("#modal").load(url.trim(), function() {
            $(this).modal('show');
        });
    }

    function buscarFlp() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("buscar_flp_table");
        filter = input.value.toUpperCase();
        table = document.getElementById("tabla_planes_recientes");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
                txtValue = td.textContent || td.innerText;
                txtValue = txtValue.trim();
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }

        }
    }

    //DESPLAZAMIENTO SUAVIZADO
    $('.main-menu-content a').click(function(e){				
		e.preventDefault();		//evitar el eventos del enlace normal
		var strAncla=$(this).attr('href'); //id del ancla
			$('body,html').stop(true,true).animate({				
				scrollTop: $(strAncla).offset().top
			},1000);
		
    });

    $(document).ready(function () {
        $('#ocultarx').click(function(){
            alert("hola mundo");
        });
    });

</script>



{% endblock extrajs %}



<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- ////////////////////////////////////////////////////////////////////////////-->