{% extends 'temp_plan_vuelo/baseadmin.html' %} 
{% load staticfiles %} 

{% block title %}
<title>Upsilon | Usuario</title>
{% endblock title %}


{% block extra_head %}
    <link rel='stylesheet' href='https://harvesthq.github.io/chosen/chosen.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'theme-assets/css/aprobar_plan.css' %}"> -->

{% endblock extra_head %}

<!-- ////////////////////////////////////////////////////////////////////////////-->

{% block navbar %}
    <!--MENU SUPERIOR fixed-top-->
    <header id="header">
        <div class="container">
            <nav
                class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light">
                <div class="navbar-wrapper">
                    <div class="navbar-container content">
                        <div class="collapse navbar-collapse show" id="navbar-mobile">

                            <!--BUSCAR -->
                            <ul class="nav navbar-nav mr-auto float-left">

                                <!--TOGGLE MENU VERSION MOVIL-->
                                <li class="nav-item d-block d-md-none">
                                    <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                                        <i class="ft-menu"></i></a>
                                </li>
                                <!--TOGGLE MENU VERSION MOVIL-->

                                <!--LOGO DE PAGINA-->
                                <li class="mr-auto">
                                    <a class="navbar-brand" href="{% url 'view_admin' %}">
                                        <!-- <img class="brand-logo" alt="Chameleon admin logo"
                                src="theme-assets/images/logo/logo.png" /> -->
                                        <h1 class="brand-text " style="color: white;">AASANALP | Upsilon  | {{user.get_username}} | {{id_empresa}}</h1>
                                    </a>
                                </li>
                                <!--LOGO DE PAGINA-->

                            </ul>

                            <!--IDIOMA DE PAGINA-->
                            <ul class="nav navbar-nav float-right">

                                <!--BUSCAR-->
                                <li class="nav-item dropdown navbar-search">
                                    
                                    <a class="nav-link dropdown-toggle hide" data-toggle="dropdown" href="#">
                                        <i class="ficon ft-search"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="arrow_box">
                                            <form>
                                                <div class="input-group search-box">
                                                    <div class="position-relative has-icon-right full-width">
                                                        <input class="form-control" id="search" type="text"
                                                            placeholder="Buscar...">
                                                        <div class="form-control-position navbar-search-close"><i
                                                                class="ft-x">
                                                            </i></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                                <!--BUSCAR-->

                            </ul>
                            <!--IDIOMA DE PAGINA-->


                            <ul class="nav navbar-nav float-right">

                                <li class="dropdown dropdown-user nav-item">
                                    <a class="dropdown-toggle nav-link dropdown-user-link" href="#"
                                        data-toggle="dropdown">
                                        <span class="avatar avatar-online">
                                            <img src="{% static 'theme-assets/images/portrait/small/avatar-s-19.png' %}"
                                                alt="avatar">
                                            <i></i>
                                        </span>
                                    </a>

                                    

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="arrow_box_right"><a class="dropdown-item" href="#"><span
                                                    class="avatar avatar-online">
                                                    <img src="{% static 'theme-assets/images/portrait/small/avatar-s-19.png' %}"
                                                        alt="avatar">
                                                    <span class="user-name text-bold-700 ml-1">

                                                        {% block name %}

                                                        {% if user.is_active %}
                                                        {{user.get_username}}
                                                        {% endif %}

                                                        {% endblock name %}

                                                    </span>
                                                </span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#"><i class="ft-user"></i> Editar perfil </a>
                                            <!-- <a class="dropdown-item" href="#"><i class="ft-mail"></i> My Inbox</a>
                                            <a class="dropdown-item" href="#"><i class="ft-check-square"></i> Task</a>
                                            <a class="dropdown-item" href="#"><i class="ft-message-square"></i> Chats</a> -->
                                            <div class="dropdown-divider"></div>

                                            <a class="dropdown-item" href="{% url 'logout' %}">
                                                <i class="ft-power"></i> Cerrar sesion</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            
                            
                            <!--TABLERO DRAG AND DROP-->
                            <ul class="nav navbar-nav float-right">
                                <li class="nav-item d-none d-md-block">
                                    <a class="nav-link" href="{% url 'view_tablero' %}">
                                        PIB
                                    </a>
                                </li>
                            </ul>
                            <!--TABLERO DRAG AND DROP-->



                            <!--PANTALLA COMPLETA
                                <ul class="nav navbar-nav float-right">
                                    <li class="nav-item d-none d-md-block">
                                        <a class="nav-link nav-link-expand" href="#">
                                            ACC
                                        </a>
                                    </li>
                                </ul>
                            <!--PANTALLA COMPLETA-->


                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--MENU SUPERIOR fixed-top-->
{% endblock navbar  %}
    




{% block content %}

<!--BARRA LATERAL O MENU LATERAL-->
<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="false">

    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="active">
                <a href="#_planes_recientes">
                    <i class="ft-home"></i>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#_planes_aprobados">
                    <i class="ft-pie-chart"></i>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#_notams">
                    <i class="ft-droplet"></i>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#_metars">
                    <i class="ft-layers"></i>
                </a>
            </li>
        </ul>
    </div>

</div>
<!--BARRA LATERAL O MENU LATERAL-->

<br>

<!-- PLAN DE VUELOS SOLICITADOS -->
<div id="_planes_recientes"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%; ">

                <div class="card-header">
                    <h3 class="card-title">FPL PENDIENTES </h3>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <!--BUSCAR-->
                            <li class="nav-item dropdown navbar-search">
                                <a class="nav-link dropdown-toggle hide" data-toggle="dropdown" href="#">
                                    <i class="ficon ft-search"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="arrow_box">
                                        <div class="input-group search-box">
                                            <div class="position-relative has-icon-right full-width">
                                                <input class="form-control" type="text" id="buscar_flp_table" onkeyup="buscarFlp()" placeholder="Buscar FLP">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!--BUSCAR-->
                            
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <br>
                </div>
                <!--CONTENIDO DE LA TABLA DE PLANES RECIENTES-->
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">

                    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    </div>
                    <!-- /.modal -->

                    <div class="table-responsive">
                        <table id="tabla_planes_recientes" class="table table-striped" align="center" style="text-align:center;">
                            <thead>
                                <tr>
                                    <th scope="col">Nro. Formulario</th>
                                    <th scope="col">Fecha y hora</th>
                                    <th scope="col">Despachador</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col"><i class="material-icons">flight_takeoff</i></th>
                                    <th scope="col">Aceptar/Rechazar</th>
                                    <th scope="col">Documento FPL</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for solicitado in solicitados %}
                                    <tr readonly>
                                        <th width="3%" scope="row">{{solicitado.nro_formulario}}/{{solicitado.fecha_presentacion|date:'Y'}} </th>
                                        <th width="3%">{{solicitado.fecha_presentacion|date:'d/m/y'}} <br> {{solicitado.hora_presentacion}}</th>
                                        <td width="3%">{{solicitado.nombre}} &nbsp; {{solicitado.apellido}} </td>
                                        <td width="3%">
                                            {{solicitado.nombre_estado}}
                                        </td>
                                        <td width="3%">
                                            BOV645
                                        </td>
                                        
                                        <td width="10%">
                                            <!-- ACEPTAR -->
                                            <button class="btn btn-outline-success" onclick="abrir_modal('{% url 'view_aprobar_codigo_felcn' %}?idpresentado={{solicitado.id_fpl_presentado}}')" ><i class="material-icons">check_circle</i></button>
                                            {{solicitado.id_fpl_presentado}}
                                            {{solicitado.fk_estado_id}}
                                        </td>
                                        
                                        <td width="15%">
                                            <a class="btn btn-outline-info" onclick="abrir_modal('{% url 'view_mostrar_fpl_empresa' %}?idpresentado={{solicitado.id_fpl_presentado}}')"> <i class="material-icons">insert_drive_file</i> </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- PLAN DE VUELOS SOLICITADOS -->


<!-- Plan de vuelos aprobados -->
<div id="_planes_aprobados"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%;">
                <div class="card-header">
                    <h4 class="card-title">PLANES APROBADOS</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <br>

                </div>
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Planes de vuelo aprobados -->




<!--NOTAMS-->
<div id="_notams"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%;">
                <div class="card-header">
                    <h4 class="card-title">PLANES RECHAZADOS</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <br>

                </div>
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--NOTAMS-->


<!--METARS-->
<div id="_metars"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%;">
                <div class="card-header">
                    <h4 class="card-title">METARS</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <br>

                </div>
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" width="50px">id_amhs</th>
                                    <th scope="col">fecha_hora</th>
                                    <th scope="col">Prioridad</th>
                                    <th scope="col">Estacion</th>
                                    <th scope="col">Hora_clima</th>
                                    <th scope="col">Mensaje</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for metarlinea in metar %}
                                <tr>
                                    <th scope="row">{{metarlinea.id_amhs}}</th>
                                    <td>{{metarlinea.hora_amhs}}</td>
                                    <td>{{metarlinea.prioridad}}</td>
                                    <td>{{metarlinea.estacion}}</td>
                                    <td>{{metarlinea.hora_clima}}</td>
                                    <td>{{metarlinea.texto}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--METARS-->

{% endblock content %} 


{% block extrajs %}
<script src='https://harvesthq.github.io/chosen/chosen.jquery.js'></script>
<script src="{% static 'theme-assets/js/scripts/aprobar_plan.js' %}"></script>

<script type="text/javascript">
    //var $ = jQuery.noConflict();

    function abrir_modal(url) {
        //alert(url);
        $("#modal").load(url.trim(), function() {
            $(this).modal('show');
        });
    }

    function buscarFlp() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("buscar_flp_table");
        filter = input.value.toUpperCase();
        table = document.getElementById("tabla_planes_recientes");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
                txtValue = td.textContent || td.innerText;
                txtValue = txtValue.trim();
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }

        }
    }

    //DESPLAZAMIENTO SUAVIZADO
    $('.main-menu-content a').click(function(e){				
		e.preventDefault();		//evitar el eventos del enlace normal
		var strAncla=$(this).attr('href'); //id del ancla
			$('body,html').stop(true,true).animate({				
				scrollTop: $(strAncla).offset().top
			},1000);
		
    });

    $(document).ready(function () {
        $('#ocultarx').click(function(){
            alert("hola mundo");
        });
    });

</script>



{% endblock extrajs %}



<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- ////////////////////////////////////////////////////////////////////////////-->