{% extends 'temp_plan_vuelo/baseadmin.html' %} 
{% load static %} 

{% block title %}
<title>Upsilon | Usuario</title>
{% endblock title %}



{% block extra_head %}
    <link rel='stylesheet' href='https://harvesthq.github.io/chosen/chosen.css'>
    <!-- <link rel="stylesheet" href="{% static 'theme-assets/css/aprobar_plan.css' %}"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <style>
        /* STYLE FOR MODAL RADIO BUTOONS FOR USERS FOR PROVE FPL */
        .radio-tile-group {
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: center;
        }
        .radio-tile-group .input-container {
        position: relative;
        height: 7rem;
        width: 7rem;
        margin: 0.5rem;
        }
        .radio-tile-group .input-container .radio-button {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        cursor: pointer;
        }
        .radio-tile-group .input-container .radio-tile {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: center;
                align-items: center;
        -webkit-box-pack: center;
                justify-content: center;
        width: 100%;
        height: 100%;
        border: 2px solid #079ad9;
        border-radius: 5px;
        padding: 1rem;
        -webkit-transition: -webkit-transform 300ms ease;
        transition: -webkit-transform 300ms ease;
        transition: transform 300ms ease;
        transition: transform 300ms ease, -webkit-transform 300ms ease;
        }
        .radio-tile-group .input-container .icon svg {
        fill: #079ad9;
        width: 3rem;
        height: 3rem;
        }
        .radio-tile-group .input-container .radio-tile-label {
        text-align: center;
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #079ad9;
        }
        .radio-tile-group .input-container .radio-button:checked + .radio-tile {
        background-color: #079ad9;
        border: 2px solid #079ad9;
        color: white;
        -webkit-transform: scale(1.1, 1.1);
                transform: scale(1.1, 1.1);
        }
        .radio-tile-group .input-container .radio-button:checked + .radio-tile .icon svg {
        fill: white;
        background-color: #079ad9;
        }
        .radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
        color: white;
        background-color: #079ad9;
        }
        /* STYLE FOR MODAL RADIO BUTOONS FOR USERS FOR PROVE FPL */
    </style>
{% endblock extra_head %}
    



<!-- ////////////////////////////////////////////////////////////////////////////-->


{% block navbar %}
<!--MENU SUPERIOR fixed-top-->
<header id="header">
    <div class="container">
        <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light">
            <div class="navbar-wrapper">
                <div class="navbar-container content">
                    <div class="collapse navbar-collapse show" id="navbar-mobile" >

                        <!--VERSION MOVIL -->
                        <ul class="nav navbar-nav mr-auto float-left">

                            <!--TOGGLE MENU VERSION MOVIL-->
                            <li class="nav-item d-block d-md-none">
                                <a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#">
                                    <i class="ft-menu"></i></a>
                            </li>
                            <!--TOGGLE MENU VERSION MOVIL-->

                            <!--LOGO DE PAGINA-->
                            <li class="mr-auto">
                                <a class="navbar-brand" href="{% url 'view_panel_coordinacion' %}">
                                    <!-- <img class="brand-logo" alt="Chameleon admin logo"
                            src="theme-assets/images/logo/logo.png" /> -->
                                    <h1 class="brand-text " style="color: white;">Upsilon </h1>
                                </a>
                            </li>
                            <!--LOGO DE PAGINA-->

                        </ul>
                        <!--VERSION MOVIL -->


                        <!--EQUIPO DE USUARIOS-->
                        <ul class="nav navbar-nav float-right" >
                            <!--BUSCAR-->
                            <li class="nav-item dropdown navbar-search" >
                                <a class="nav-link dropdown-toggle hide" data-toggle="dropdown" href="#">
                                    <span class="material-icons md-24">
                                        groups
                                    </span>
                                </a>

                                <ul  class="dropdown-menu dropdown-menu-right" style="background-color: #ffffff;">
                                    <li class="arrow_box_right">
                                        <form>
                                            <div class="input-group search-box">
                                                <div class="position-relative has-icon-right full-width">
                                                    <input class="form-control" id="busca_personas" type="text"
                                                        placeholder="Buscar...">
                                                    <div class="form-control-position">
                                                        <span class="material-icons">
                                                            account_circle
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </li>
                                    
                                    <div id="grupo_trabajo">
                                        {% for persona in equipo_trabajo %}
                                            <div class="dropdown-divider"></div>
                                            <li>
                                                <div class="input-group">
                                                    
                                                    {% if persona.activo %}
                                                        <a id="{{persona.ci}}" class="dropdown-item" onclick="cerrar_sesion( '{% url 'view_cerrar_sesion' %}?id_trabajador={{persona.ci}}')" >
                                                            <i class="ft-user"></i> 
                                                            {{persona.nombre}}
                                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                            <button class="btn btn-outline-danger">
                                                                <span class="material-icons">
                                                                    close
                                                                </span>    
                                                            </button>
                                                        </a>
                                                    {% else %}
                                                        <a class="dropdown-item" onclick="abrir_modal( '{% url 'view_identificacion' id_trabajador=persona.ci%}')" >
                                                            <i class="ft-user"></i> 
                                                            {{persona.nombre}}
                                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                                                            <button class="btn btn-outline-primary"> 
                                                                <span class="material-icons">
                                                                    fingerprint
                                                                </span>
                                                            </button>

                                                        </a>
                                                    {% endif %}
                                                        
                                                    
                                                </div>
                                            </li>
                                        {% endfor %}    
                                    </div>
                                </ul>
                            </li>
                            <!--BUSCAR-->

                        </ul>
                        <!--EQUIPO DE USUARIOS-->


                        <!--MENU APPS 2-->
                        <ul class="nav navbar-nav float-right" >

                            <!--BUSCAR-->
                            <li class="nav-item dropdown navbar-search" >
                                
                                <a class="nav-link dropdown-toggle hide" data-toggle="dropdown" href="#">
                                    <span class="material-icons white md-24">
                                        apps
                                    </span>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right" style="background-color: #ffffff;">
                                    
                                    <li class="arrow_box_right">
                                        <div class="container">
                                            <div class="row">
                                              <div class="col-sm-6 bg-success">
                                                <a class="dropdown-item" href="#">
                                                    <span class="material-icons  md-24">
                                                        apps
                                                    </span>
                                                </a>
                                              </div>
                                              <div class="col-sm-6 bg-warning">
                                                <a class="dropdown-item" href="#">
                                                    <span class="material-icons  md-24">
                                                        apps
                                                    </span>
                                                </a>
                                              </div>
                                            </div>
                                        </div>
                                    </li>

                                    <div class="dropdown-divider"></div>

                                    <li >
                                        <div class="container">
                                            <div class="row">
                                              <div class="col-sm-6 bg-success">
                                                <a class="dropdown-item" href="#">
                                                    <span class="material-icons  md-24">
                                                        apps
                                                    </span>
                                                </a>
                                              </div>
                                              <div class="col-sm-6 bg-warning">
                                                <a class="dropdown-item" href="#">
                                                    <span class="material-icons  md-24">
                                                        apps
                                                    </span>
                                                </a>
                                              </div>
                                            </div>
                                        </div>
                                    </li>
                                   
                                    <div class="dropdown-divider"></div>

                                    <li class="nav-item d-none d-md-block bg-success">
                                        <a class="nav-link" href="{% url 'view_tablero' %}">
                                            TABLERO
                                            <span class="material-icons">
                                                people_alt
                                            </span>
                                        </a>
                                    </li>

                                 
                                </ul>
                            </li>
                            <!--BUSCAR-->

                        </ul>
                        <!-- MENU APPS 2-->
                        
                        
                        <!--AVATAR PAGINA
                            <ul class="nav navbar-nav float-right">

                                <li class="dropdown dropdown-user nav-item">
                                    <a class="dropdown-toggle nav-link dropdown-user-link" href="#"
                                        data-toggle="dropdown">
                                        <span class="avatar avatar-online">
                                            <img src="{% static 'theme-assets/images/portrait/small/avatar-s-19.png' %}"
                                                alt="avatar">
                                            <i></i>
                                        </span>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="arrow_box_right">
                                            <a class="dropdown-item" href="#">
                                                <span class="avatar avatar-online">
                                                    <img src="{% static 'theme-assets/images/portrait/small/avatar-s-19.png' %}"
                                                        alt="avatar">
                                                    <span class="user-name text-bold-700 ml-1">

                                                        {% block name %}

                                                        {% if user.is_active %}
                                                        {{user.get_username}}
                                                        {% endif %}

                                                        {% endblock name %}

                                                    </span>
                                                </span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">
                                                <i class="ft-user"></i> 
                                                Editar perfil 
                                            </a>
                                           
                                        
                                            <div class="dropdown-divider"></div>

                                            <a class="dropdown-item" href="{% url 'logout' %}">
                                                <i class="ft-power"></i> Cerrar sesion</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        
                        -->                           
                        <!--AVATAR PAGINA --> 


                        <!--MENU APLICACIONES
                            <ul class="nav navbar-nav float-right" style="padding: 0px 10px;">
                                <button class="btn btn-info buttonapps" id="buttonapps">
                                    <span class="material-icons white md-24">
                                        apps
                                    </span>
                                    
                                    <nav class="navapps" id="navapps">
                                        <a href="#" class="refapps">
                                            <span class="material-icons white md-24" id="icons">apps</span>
                                        </a>
                                        
                                        <a href="#" class="refapps">
                                            <span class="material-icons white md-24" id="icons">apps</span>
                                        </a>
                                        
                                        <a href="#" class="refapps">
                                            <span class="material-icons white md-24" id="icons">apps</span>
                                        </a>
                                        <br>
                                        <a href="#" class="refapps">
                                            <span class="material-icons white md-24" id="icons">apps</span>
                                        </a>
                                        
                                        <a href="#" class="refapps">
                                            <span class="material-icons white md-24" id="icons">apps</span>
                                        </a>

                                        <a href="#" class="refapps">
                                            <span class="material-icons white md-24" id="icons">apps</span>
                                        </a>
                                        <br>
                                        <a href="#" class="refapps">
                                            <span class="material-icons white md-24" id="icons">apps</span>
                                        </a>

                                        <a href="#" class="refapps">
                                            <span class="material-icons white md-24" id="icons">apps</span>
                                        </a>
                                    </nav>
                                </button>
                            </ul>
                        
                        -->
                        <!--MENU APLICACIONES-->
                        
                        <!--CERRAR SESION-->
                        <ul class="nav navbar-nav float-right" style="padding: 0px 10px;">

                            <li class="dropdown dropdown-user nav-item">
                                <a class="dropdown-toggle nav-link dropdown-user-link" href="#"
                                    data-toggle="dropdown">
                                    <span class="material-icons">
                                        power_settings_new
                                    </span>
                                </a>

                                

                                <div class="dropdown-menu dropdown-menu-right" >
                                    <div class="arrow_box_right" >
                                        <a class="dropdown-item" href="{% url 'logout' %}" >
                                            <i class="ft-power"></i> 
                                            Cerrar Upsilon
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!--CERRAR SESION-->

                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--MENU SUPERIOR fixed-top-->
{% endblock navbar  %}
    




{% block content %}

<!--BARRA LATERAL O MENU LATERAL-->
<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="false">

    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="active">
                <a href="#_planes_recientes">
                    <i class="ft-home"></i>
                </a>
            </li>

            <li class=" nav-item">
                <a href="#_planes_aprobados">
                    <i class="ft-trash"></i>
                </a>
            </li>

            <li class=" nav-item">
                <a href="#_notams">
                    <i class="ft-plus"></i>
                </a>
            </li>

            <li class=" nav-item">
                <a href="#_metars">
                    <i class="ft-edit"></i>
                </a>
            </li>
            
        </ul>
    </div>

</div>
<!--BARRA LATERAL O MENU LATERAL-->

<br>

<!-- Plan de vuelos recientes -->
<div id="_planes_recientes"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%; ">

                <div class="card-header">
                    <h3 class="card-title">PLANES DE VUELO APROBAODS</h3>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li>
                                <button class="btn-primary" id="update_fpl1">Actualizar</button>
                            </li>

                            <li><a data-action="reload" ><i class="ft-rotate-cw" id="update_fpl1"></i></a></li>

                            <!--BUSCAR-->
                            <li class="nav-item dropdown navbar-search">
                                <a class="nav-link dropdown-toggle hide" data-toggle="dropdown" href="#">
                                    <i class="ficon ft-search"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="arrow_box">
                                        <div class="input-group search-box">
                                            <div class="position-relative has-icon-right full-width">
                                                <input class="form-control" type="text" id="buscar_flp_table" onkeyup="buscarFlp()" placeholder="Buscar FLP">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!--BUSCAR-->

                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <br>
                </div>
                <!--CONTENIDO DE LA TABLA DE PLANES RECIENTES-->
               
               
               
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">

                    <!-- /.modal -->
                    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    </div>
                    <!-- /.modal -->

                    <div class="table-responsive">
                        <table id="tabla_planes_recientes" class="table table-striped" align="center" style="text-align:center;">
                            <thead>
                                <tr>
                                    <th scope="col">ID AMHS</th>
                                    <th scope="col">Origen</th>
                                    <th scope="col">Destino</th>
                                    <th scope="col">fecha</th>
                                    <th scope="col">hora</th>
                                    <th scope="col">nombre</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="toUpdate_fpl">

                                {% for fpl in aprobados_historial %}
                                <tr>
                                    <th id="{{elemen.id}}" width="5%" scope="row">{{fpl.id_flpaprobado_id}}</th>
                                    <th width="5%">{{fpl.id_aeronave}}</th>
                                    <td width="5%"><pre> {{fpl.aeropuerto_salida}}  -- {{fpl.aeropuerto_destino|slice:"1:5"}} </pre></td>
                                    <td width="5%">{{fpl.fecha_aprobacion}} <br> {{fpl.aeropuerto_salida|slice:"5:10"}}</td>
                                    <td width="5%">{{fpl.hora_aprobacion}}</td>
                                    <td width="5%">{{fpl.nombre}} <br> {{fpl.apellido}} </td>
                                    <td width="15%">
                                        <!--
                                        -->
                                        <button class="btn btn-outline-info" onclick="abrir_modal( '% url 'view_aprobar_flp' id_plancompleto=fpl.id_mensaje%')">Ver FLP</button>

                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Planes de vuelo recientes -->


<!-- Plan de vuelos aprobados -->
<div id="_planes_aprobados"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%;">
                <div class="card-header">
                    <h4 class="card-title">RUTAS ARCHIVADAS</h4>
                    
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <br>

                </div>
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">
                    FDFD
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Planes de vuelo aprobados -->


<!--NUEVO-->
<div id="_notams"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%;">
                <div class="card-header">
                    <h4 class="card-title">NUEVO</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <br>

                </div>
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">
                    

                    <div class="container" id="contenidoid">
                        <div class="row align-items-center ">
                            
                            
                            <div class="col-md-4" style="margin-left:35%">

                                <div class="form-group">
                                    <label for="usr">Origen:</label>
                                    <input type="text" class="form-control" id="guardar_origenid" >
                                </div>

                                <div class="form-group">
                                    <label for="usr">Destino:</label>
                                    <input type="text" class="form-control" id="guardar_destinoid">
                                </div>

                                <div id="seccionagregarid" style=" padding:10px 13px;" >
    
                                    <!-- LISTA DE PUNTOS Y RUTAS OPCIONALES --- FILA PARA ELEGIR LA RUTA A USAR -->
                                    <div class="row" id="lista_ruta1" >
                                        <div id="output_ruta1"></div>
                                        <select id="sel_ruta1"  data-placeholder="RUTA" onchange="mostrarPuntosActuales('sel_ruta1')">
                                            <option value="0" >RUTA</option>
                                            {% for ruta_x in todaruta %}
                                            <option value="{{ruta_x.ruta}}">{{ruta_x.nombre_ruta}}</option>                                        
                                            {% endfor %}
                                        </select>
    
                                        <div id="output_inicio1" ></div>
                                            <select id="sel_inicio1" data-placeholder="Inicio y Fin" class="chosen-select_inicio1" multiple>
                                                {% for punto in todopuntos  %}    
                                                <option value="{{punto.puntoInicial}}">{{punto.puntoInicial}}</option>                                                
                                                {% endfor %}
                                            </select>      
                                    </div>
    <br>
                                    <div class="row" id="lista_ruta2">
                                        <div id="output_ruta2"></div>
                                        <select id="sel_ruta2" data-placeholder="RUTA" onchange="mostrarPuntosActuales('sel_ruta2')">
                                            <option value="0" >RUTA</option>
                                            {% for ruta_x in todaruta %}
                                            <option value="{{ruta_x.ruta}}">{{ruta_x.nombre_ruta}}</option>                                        
                                            {% endfor %}
                                        </select>
    
                                        <div id="output2"></div>
                                        <select id="sel_inicio2" data-placeholder="INICIO" name="tags[]"  class="chosen-select" multiple>
                                            {% for punto in todopuntos  %}    
                                            <option value="{{punto.puntoInicial}}">{{punto.puntoInicial}}</option>                                                
                                            {% endfor %}
                                        </select>
    
                                    </div>
    <br>
                                    <div class="row" id="lista_ruta3">
                                        <div id="output_ruta3"></div>
                                        <select id="sel_ruta3" data-placeholder="RUTA">
                                            <option value="0" >RUTA</option>
                                            {% for ruta_x in todaruta %}
                                            <option value="{{ruta_x.ruta}}">{{ruta_x.nombre_ruta}}</option>                                        
                                            {% endfor %}
                                        </select>
    
                                        <div id="output_inicio3"></div>
                                        <select id="sel_inicio3" data-placeholder="INICIO" name="tags[]"  class="chosen-select" multiple>
                                            {% for punto in todopuntos  %}    
                                            <option value="{{punto.puntoInicial}}">{{punto.puntoInicial}}</option>                                                
                                            {% endfor %}
                                        </select>    
                                    </div>
    <br>
                                    <br>
                                    <div class="row" style="align-items:center;">
                                        
                                        <button class="btn btn-outline-info" id="recordarid">
                                            Guardar Ruta
                                        </button>
                                        &nbsp;&nbsp;&nbsp;
                                        <div id="mensaje_rutaid"></div>
                                    </div>
                                </div>

                                <br>
                                <br>
                                <br>
    
                            </div>

    
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!--NUEVO-->


<!--EDITAR-->
<div id="_metars"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%;">
                <div class="card-header">
                    <h4 class="card-title">EDITAR</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <br>

                </div>
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">
                    
                    





                </div>
            </div>
        </div>
    </div>
</section>
<!--EDITAR-->

{% endblock content %} 


{% block extrajs %}
<script src='https://harvesthq.github.io/chosen/chosen.jquery.js'></script>
<script src="{% static 'theme-assets/js/scripts/aprobar_plan.js' %}"></script>

<script type="text/javascript">
    //var $ = jQuery.noConflict();

    function abrir_modal(url) {
        //alert(url);
        $("#modal").load(url.trim(), function() {
            $(this).modal('show');
        });
    }

    function buscarFlp() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("buscar_flp_table");
        filter = input.value.toUpperCase();
        table = document.getElementById("tabla_planes_recientes");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
                txtValue = td.textContent || td.innerText;
                txtValue = txtValue.trim();
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }

        }
    }


    //DESPLAZAMIENTO SUAVIZADO
    $('.main-menu-content a').click(function(e){				
		e.preventDefault();		//evitar el eventos del enlace normal
		var strAncla=$(this).attr('href'); //id del ancla
			$('body,html').stop(true,true).animate({				
				scrollTop: $(strAncla).offset().top
			},200);		
    });

    $(document).ready(function () {
        $('#ocultarx').click(function(){
            alert("text");
        });

    });

    

</script>




<script>
    //functions for the navbar 
    $(function(){

        $("#buttonapps").trigger("click");

        //FILTER FOR THE SEARCH PERSONS IN NAVBAR
        $("#busca_personas").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#grupo_trabajo li").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        //FILTER FOR THE SEARCH PERSONS IN NAVBAR
        
    });

    $("#buttonapps").click(function(){
        $(this).toggleClass("clicked");
    });

    
    
    function abrir_modal(url) {
        //alert(url);
        $("#modal").load(url.trim(), function() {
            $(this).modal('show');
        });
    }

    function cerrar_sesion(urlx) {
        //alert(urlx)
        $.ajax({
            type:'GET',
            url: urlx,
            //data:$(this).serialize(),
            success: function (request){
                console.log(request.respuesta);
                if (request.respuesta) {
                    location.reload();
                }else{
                    console.log("HUBO UN ERROR AL CERRAR SESION");
                }
            },
            error: function (e) {
                console.log(e);
            }   
        })
        
    }

</script>


<script>
    function restore_route(ruta, tipo){
        if (tipo=="restaurar") {
            urltosend="{% url 'view_restaurar_ruta' %}"
        } else {
            urltosend="{% url 'view_archivar_ruta' %}"
        }

        $.ajax({
                type:'GET',
                url: urltosend,
                data:{'ruta':ruta},
                success: function (request){
                    if (request.estado) {
                        location.reload();
                    }else{
                        Alert("HUBO UN ERROR AL PROCESAR");
                    }
                },
                error: function (e) {
                    console.log(e);
                }   
            })
    }
</script>

<script>
    //----------------------------------------
        
    //CHOSEN FOR THE FIRST OPTIONAL RUTA LIST
    document.getElementById('output_ruta1').innerHTML = location.search;
    $("#sel_ruta1").chosen({width: '90px'});
    document.getElementById('output_inicio1').innerHTML = location.search;
    $("#sel_inicio1").chosen({width: '200px',max_selected_options:2});

    //CHOSEN FOR THE SECOND OPTIONAL RUTA LIST
    document.getElementById('output_ruta2').innerHTML = location.search;
    $("#sel_ruta2").chosen({width: '90px'});
    document.getElementById('output_inicio1').innerHTML = location.search;
    $("#sel_inicio2").chosen({width: '200px',max_selected_options:2});

    //CHOSEN FOR THE THIRD OPTIONAL RUTA LIST
    document.getElementById('output_ruta3').innerHTML = location.search;
    $("#sel_ruta3").chosen({width: '90px'});
    document.getElementById('output_inicio3').innerHTML = location.search;
    $("#sel_inicio3").chosen({width: '200px',max_selected_options:2});
</script>



<script>
    //RECORDAR RUTA MODIFICADA
    $('#recordarid').click(function () {

        error=false

        rutas="";
        seleccionados="";

        if(document.getElementById('guardar_origenid').value == "" ){
                $('#guardar_origenid').css({'border': '2px solid transparent','border-color':'red'})
                error=true
        }else{
            $('#guardar_origenid').css({'border': '','border-color':''})
        }

        if(document.getElementById('guardar_destinoid').value == "" ){
                $('#guardar_destinoid').css({'border': '2px solid transparent','border-color':'red'})
                error=true
        }else{
            $('#guardar_destinoid').css({'border': '','border-color':''})
        }



        //OPTIONAL ROUTES FOR FLIGTH PLAN
        if ($("#sel_ruta1 option:selected").text() !="" && $("#sel_ruta1 option:selected").text()!='RUTA' ) {

            seleccionadosx=""
            $('#sel_inicio1 :selected').each(function(){
                seleccionadosx=seleccionadosx + $(this).text() +";";
            });
            //THEN TO ASK IF THE TEXTBOX OF POINTS IS DISTINCT TO "" EMPTY
            if(seleccionadosx.split(";").length-1 < 2){
                $('#lista_ruta1').css({'border': '2px solid transparent','border-color':'red'})
                error=true
            }else{
                $('#lista_ruta1').css({'border': '','border-color':''})
                seleccionados=seleccionados+seleccionadosx;
                rutas=rutas + $("#sel_ruta1 option:selected").text()+";"
            }
        }else{
            $('#lista_ruta1').css({'border': '2px solid transparent','border-color':'red'})
            error=true
        }


        if ($("#sel_ruta2 option:selected").text() !="" && $("#sel_ruta2 option:selected").text()!='RUTA' ) {

            seleccionadosx=""
            $('#sel_inicio2 :selected').each(function(){
                seleccionadosx=seleccionadosx + $(this).text() +";";
            });
            //THEN TO ASK IF THE TEXTBOX OF POINTS IS DISTINCT TO "" EMPTY
            if(seleccionadosx.split(";").length-1 < 2){
                $('#lista_ruta2').css({'border': '2px solid transparent','border-color':'red'})
                error=true
            }else{
                $('#lista_ruta2').css({'border': '','border-color':''})
                seleccionados=seleccionados+seleccionadosx;
                rutas=rutas + $("#sel_ruta2 option:selected").text()+";"
            }
        }else{
            $('#lista_ruta2').css({'border': '','border-color':''})
        }

        
        if ($("#sel_ruta3 option:selected").text() !="" && $("#sel_ruta3 option:selected").text()!='RUTA' ) {

            seleccionadosx=""
            $('#sel_inicio3 :selected').each(function(){
                seleccionadosx=seleccionadosx + $(this).text() +";";
            });
            //THEN TO ASK IF THE TEXTBOX OF POINTS IS DISTINCT TO "" EMPTY
            if(seleccionadosx.split(";").length-1 < 2){
                $('#lista_ruta3').css({'border': '2px solid transparent','border-color':'red'})
                error=true
            }else{
                $('#lista_ruta3').css({'border': '','border-color':''})
                seleccionados=seleccionados+seleccionadosx;
                rutas=rutas + $("#sel_ruta3 option:selected").text()+";"
            }
        }else{
            $('#lista_ruta3').css({'border': '','border-color':''})
        }


        datasend={
            "origen":"{{origen}}",
            "destino":"{{destino}}",
            "rutas":rutas,
            "puntos":seleccionados
            
        }

        if(!error && rutas!="" && seleccionados!=""){
            $.ajax({
                type:'GET',
                url: '{% url 'view_recordar_ruta' %}',
                data: datasend,
                //data:$(this).serialize(),
                success: function (request){
                    if (request.estado) {
                        $('#mensaje_rutaid').text('Guardado exitoso')
                        $('#mensaje_rutaid').css('color','green')
                        location.reload();
                    }else{
                        $('#mensaje_rutaid').text('Verifique los datos de la ruta o la ruta ya existe')
                        $('#mensaje_rutaid').css('color','red')
                    }
                }   
            });
        }
    })

</script>

{% endblock extrajs %}



<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- ////////////////////////////////////////////////////////////////////////////-->