{% extends 'temp_plan_vuelo/baseadmin.html' %} 
{% load static %} 

{% block title %}
<title>Upsilon | Usuario</title>
{% endblock title %}



{% block extra_head %}
    <link rel='stylesheet' href='https://harvesthq.github.io/chosen/chosen.css'>
    <!-- <link rel="stylesheet" href="{% static 'theme-assets/css/aprobar_plan.css' %}"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <style>
        /* STYLE FOR MODAL RADIO BUTOONS FOR USERS FOR PROVE FPL */
        .radio-tile-group {
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: center;
        }
        .radio-tile-group .input-container {
        position: relative;
        height: 7rem;
        width: 7rem;
        margin: 0.5rem;
        }
        .radio-tile-group .input-container .radio-button {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        cursor: pointer;
        }
        .radio-tile-group .input-container .radio-tile {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: center;
                align-items: center;
        -webkit-box-pack: center;
                justify-content: center;
        width: 100%;
        height: 100%;
        border: 2px solid #079ad9;
        border-radius: 5px;
        padding: 1rem;
        -webkit-transition: -webkit-transform 300ms ease;
        transition: -webkit-transform 300ms ease;
        transition: transform 300ms ease;
        transition: transform 300ms ease, -webkit-transform 300ms ease;
        }
        .radio-tile-group .input-container .icon svg {
        fill: #079ad9;
        width: 3rem;
        height: 3rem;
        }
        .radio-tile-group .input-container .radio-tile-label {
        text-align: center;
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #079ad9;
        }
        .radio-tile-group .input-container .radio-button:checked + .radio-tile {
        background-color: #079ad9;
        border: 2px solid #079ad9;
        color: white;
        -webkit-transform: scale(1.1, 1.1);
                transform: scale(1.1, 1.1);
        }
        .radio-tile-group .input-container .radio-button:checked + .radio-tile .icon svg {
        fill: white;
        background-color: #079ad9;
        }
        .radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
        color: white;
        background-color: #079ad9;
        }
        /* STYLE FOR MODAL RADIO BUTOONS FOR USERS FOR PROVE FPL */
    </style>



    <style>
        
        #app {
        height: 150%;
        overflow-x: auto;
        }

        main {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 20px 0 30px 0;
        box-sizing: border-box;
        }
        main:before {
        content: '';
        float: right;
        min-width: 20px;
        width: 10px;
        height: 100%;
        }
        main:after {
        content: '';
        float: right;
        min-width: 20px;
        width: 10px;
        height: 100%;
        }

        .pane {
        display: inline-table;
        height: 100%;
        min-width: 31%;
        max-width: 31%;
        margin: 0 5px;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        }

        div[id="0"] {
            background: rgb(255, 233, 106);
        }

        div[id="1"] {
            background: rgb(154, 255, 119);
        }

        div[id="2"] {
            background: rgb(255, 87, 87);
        }

        .pane-header {
        font-weight: 900;
        font-size:25px;
        color: #ffffff;
        }

        .pane-card {
        background: #ffffff;
        padding: 10px;
        margin: 10px 0;
        border-radius: 7px;
        box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
        cursor: grab;
        }
        .pane-card:hover {
        background: #f4f5f7;
        }
        .pane-card.dragging {
        color: transparent;
        background: none;
        border: 2px dashed rgba(0, 0, 0, 0.2);
        box-shadow: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        cursor: grabbing;
        }



        #ghost-card {
        position: absolute;
        user-select: none;
        pointer-events: none;
        top: 100vh;
        left: 100vw;
        opacity: 0;
        transform-origin: center;
        transform: scale(1) rotate(0);
        box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
        transition: transform 0.04s ease-in-out;
        }
        #ghost-card.animate {
        transition: box-shadow 0.1s ease-in-out;
        transition: transform 0.05s ease-in-out;
        }
        #ghost-card.active {
        opacity: 1;
        box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
        }
        #ghost-card.leaving {
        transition: all .1s ease;
        box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
        }

    </style>


    <style>
        .modern-Checkbox {
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0 auto;
        }
        .modern-Checkbox [type="checkbox"] {
        display: none;
        }
        .modern-Checkbox [type="checkbox"]:not(:checked) + label,
        .modern-Checkbox [type="checkbox"] :not(:checked) + label:hover {
        background-color: transparent;
        color: #363636;
        border-color: currentColor;
        }
        .modern-Checkbox [type="checkbox"]:checked + label:before {
        transform: rotate(45deg);
        }
        .modern-Checkbox label {
        color: #fff;
        background-color: #00cc66;
        border-color: #dc3545;
        cursor: pointer;
        display: inline-block;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: all 144ms ease-in-out;
        }
        .modern-Checkbox label:hover {
        transform: scale(0.985);
        }
        .modern-Checkbox label:before {
        float: left;
        margin-top: -0.75rem;
        margin-bottom: -1rem;
        margin-right: 0.4rem;
        margin-left: -0.2rem;
        font-weight: 100;
        font-size: 2rem;
        transition: transform 200ms ease-in-out;
        content: "+";
        }

    </style>

{% endblock extra_head %}
    



<!-- ////////////////////////////////////////////////////////////////////////////-->


{% block content %}
<!--BARRA LATERAL O MENU LATERAL-->
<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="false">

    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item">
                <a href="#_panel_progreso">
                    <i class="ft-home"></i>
                </a>
            </li>

            <li class=" nav-item">
                <a href="#_planes_mapa">
                    <i class="ft-map"></i>
                </a>
            </li>

            <li class=" nav-item">
                <a href="#_planes_finalizados">
                    <i class="ft-plus"></i>
                </a>
            </li>
            
        </ul>
    </div>

</div>
<!--BARRA LATERAL O MENU LATERAL-->
<div id="_panel_progreso"></div>
<br>
<br>

<div id="app" @mousemove="onDrag($event)" @mouseup="onDragStop()">
    <main>
        <div
            v-for="(pane, paneIdx) in filledPanes"
            :key="paneIdx"
            :ref="`pane-${paneIdx}`"
            class="pane"
            v-bind:id="paneIdx"
            >
            <div class="pane-header">[[ pane.name ]] </div>
    
    
            <div
                v-for="(card, cardIdx) in pane.cards"
                :key="cardIdx"
                :class="{ 'pane-card': true, 'dragging': draggedCardIdx === card.index}"
                :ref="`card-${card.index}`"
                @mousedown="onDragStart($event, card.index)"

                v-bind:id="card.id"
                >

                <div class="row">
                    <div class="col-sm-5">
                        <p style="font-size:20px;">
                            [[ card.name ]]
                            <br>
                            <span style="font-size:8px;">
                                ENVIADO: [[card.nombre]] [[card.apellido]]
                            </span>
                        </p>
                    </div>
                    
                    <div class="col-sm-4">
                        <span style="font-size:12px;"> 
                            [[card.aeropuerto_salida]]
                        </span>
                         
                        &nbsp;

                        <span class="material-icons" style="transform: rotate(90deg); font: size 25px;" >
                            flight
                        </span>
                        
                        &nbsp;
                        
                        <span style="font-size:12px;"> 
                            [[card.aeropuerto_destino]]
                        </span>
                    </div>

                    <div class="col-sm-2">
                        <button class="btn btn-info" v-on:click="abrir_aprobado(card.id)" >
                            <span class="material-icons">
                                flight
                            </span>
                        </button>
                    </div>
                </div>
                <!--
                    [[card.fecha_aprobacion]]
                    [[card.hora_aprobacion]]
                    [[card.nombre]]
                    [[card.apellido]]
                -->
                
    
    
            </div>
    
    
        </div>
    </main>
  
  
  
    <div
         id="ghost-card"
         ref="ghostCard"
         :style="`
                 width: ${ghostCardStyle.width}px;
                 left: ${ghostCardStyle.pos.x}px; top: ${ghostCardStyle.pos.y - 10}px;
                 transform: ${ghostCardStyle.transform};
                 transform-origin: ${ghostCardStyle.transformOrigin};
                 `"
         :class="{ 'pane-card': true, 'active': draggedCardIdx !== -1, leaving: ghostCardStyle.leaving, animate: settings.animate }"
         >
         <p style="font-size:20px;">
            [[draggedCard.name]]
        </p>
    </div>

</div>
  
<div id="_planes_mapa"></div>
<!--

    <iframe src = "https://www.flightradar24.com/multiview/-18.9,-63.36/7" width = "100%" height = "100% "> </iframe>
    <iframe src = "https://www.flightradar24.com/simple?lat=-17.21&lon=-67.1&z=7&reg=G-EZDL" width = "100%" height = "100% "> </iframe>
-->
<iframe src = "https://www.flightradar24.com/simple?lat=-17.21&lon=-67.1&z=7" width = "100%" height = "100% "> </iframe>


<!-- Plan de vuelos recientes -->
<div id="_planes_finalizados"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%; ">

                <div class="card-header">
                    <h3 class="card-title">VUELOS FINALIZADOS</h3>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li>
                                <button class="btn-primary" id="update_fpl1">Actualizar</button>
                            </li>

                            <li><a data-action="reload" ><i class="ft-rotate-cw" id="update_fpl1"></i></a></li>

                            <!--BUSCAR-->
                            <li class="nav-item dropdown navbar-search">
                                <a class="nav-link dropdown-toggle hide" data-toggle="dropdown" href="#">
                                    <i class="ficon ft-search"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="arrow_box">
                                        <div class="input-group search-box">
                                            <div class="position-relative has-icon-right full-width">
                                                <input class="form-control" type="text" id="buscar_flp_table" onkeyup="buscarFlp()" placeholder="Buscar FLP">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!--BUSCAR-->

                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <br>
                </div>
                <!--CONTENIDO DE LA TABLA DE PLANES RECIENTES-->
               
               
               
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">

                    <!-- /.modal -->
                    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    </div>
                    <!-- /.modal -->

                    <div class="table-responsive">
                        <table id="tabla_planes_recientes" class="table table-striped" align="center" style="text-align:center;">
                            <thead>
                                <tr>
                                    <th scope="col">ID AMHS</th>
                                    <th scope="col">Origen</th>
                                    <th scope="col">Destino</th>
                                    <th scope="col">fecha</th>
                                    <th scope="col">hora</th>
                                    <th scope="col">nombre</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="toUpdate_fpl">

                                {% for fpl in por_trabajar %}
                                <tr>
                                    <th id="{{elemen.id}}" width="5%" scope="row">{{fpl.id_flpaprobado_id}}</th>
                                    <th width="5%">{{fpl.id_aeronave}}</th>
                                    <td width="5%"><pre> {{fpl.aeropuerto_salida}}  -- {{fpl.aeropuerto_destino|slice:"1:5"}} </pre></td>
                                    <td width="5%">{{fpl.fecha_aprobacion}} <br> {{fpl.aeropuerto_salida|slice:"5:10"}}</td>
                                    <td width="5%">{{fpl.hora_aprobacion}}</td>
                                    <td width="5%">{{fpl.nombre}} <br> {{fpl.apellido}} </td>
                                    <td width="15%">
                                        <!--
                                        -->
                                        <button class="btn btn-outline-info" onclick="abrir_modal( '{% url 'view_ver_fpl_aprobado' id_plancompleto=fpl.id_flpaprobado_id%}')">Ver FLP aprobado</button>
                                        ZPX0433251537/25092020)
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Planes de vuelo recientes -->

{% endblock content %} 


{% block extrajs %}
<script src='https://harvesthq.github.io/chosen/chosen.jquery.js'></script>



<script type="text/javascript">
    //var $ = jQuery.noConflict();

    function abrir_modal(url) {
        //alert(url);
        $("#modal").load(url.trim(), function() {
            $(this).modal('show');
        });
    }

    function buscarFlp() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("buscar_flp_table");
        filter = input.value.toUpperCase();
        table = document.getElementById("tabla_planes_recientes");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
                txtValue = td.textContent || td.innerText;
                txtValue = txtValue.trim();
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }

        }
    }

    //DESPLAZAMIENTO SUAVIZADO
    $('.main-menu-content a').click(function(e){				
		e.preventDefault();		//evitar el eventos del enlace normal
		var strAncla=$(this).attr('href'); //id del ancla
			$('body,html').stop(true,true).animate({				
				scrollTop: $(strAncla).offset().top
			},200);		
    });

    $(document).ready(function () {
        $('#ocultarx').click(function(){
            alert("text");
        });

    });


</script>



<script>
    function abrir_modal(url) {
        //alert(url);
        $("#modal").load(url.trim(), function() {
            $(this).modal('show');
        });
    }
</script>




<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
<script>
    const SETTINGS = {
        trelloStyle: false,
        animateEnd: true,
        transformOriginMode: 'mouse', // or 'center'
        scale: 1.1,
        rotationOffset: {
            min: 1.2,
            max: 2 },

        rotationMitigation: 0.2,
        debug: {
            dataInspector: false } 
    };



    function getdato(){
        return {
            name: '<a>Something</a>',
            id: "hola",
            paneIndex: 0 
            }
    }


    function getfpl_totales() {
        planes_vuelo_totales=[]
        {% for x in por_trabajar %}
            dic = {
                name : '{{x.id_aeronave}}'.substr(5,10),
                id: "{{x.id_flpaprobado_id}}",
                paneIndex: 0 ,
                aeropuerto_salida : '{{x.aeropuerto_salida}}'.substr(1,4),
                aeropuerto_destino : '{{x.aeropuerto_destino}}'.substr(1,4),
                fecha_aprobacion : '{{x.fecha_aprobacion}}',
                hora_aprobacion : '{{x.hora_aprobacion}}',
                nombre : '{{x.nombre}}',
                apellido : '{{x.apellido}}',
            }
            planes_vuelo_totales.push(dic)
        {% endfor %}
        //variables globales 

        {% for x in en_curso %}
            dic = {
                name : '{{x.id_aeronave}}'.substr(5,10),
                id: "{{x.id_flpaprobado_id}}",
                paneIndex: 1 ,
                aeropuerto_salida : '{{x.aeropuerto_salida}}'.substr(1,4),
                aeropuerto_destino : '{{x.aeropuerto_destino}}'.substr(1,4),
                fecha_aprobacion : '{{x.fecha_aprobacion}}',
                hora_aprobacion : '{{x.hora_aprobacion}}',
                nombre : '{{x.nombre}}',
                apellido : '{{x.apellido}}',
            }
            planes_vuelo_totales.push(dic)
        {% endfor %}


        {% for x in finalizados %}
            dic = {
                name : '{{x.id_aeronave}}'.substr(5,10),
                id: "{{x.id_flpaprobado_id}}",
                paneIndex: 2 ,
                aeropuerto_salida : '{{x.aeropuerto_salida}}'.substr(1,4),
                aeropuerto_destino : '{{x.aeropuerto_destino}}'.substr(1,4),
                fecha_aprobacion : '{{x.fecha_aprobacion}}',
                hora_aprobacion : '{{x.hora_aprobacion}}',
                nombre : '{{x.nombre}}',
                apellido : '{{x.apellido}}',
            }
            planes_vuelo_totales.push(dic)
        {% endfor %}

        return planes_vuelo_totales; 
    }


//vector global
    var array_global=[]

    function getpor_Trabajar(){
        $.ajax({
            type:'GET',
            url: "{% url 'view_obtener_fplpanelprogreso' %}",
            //data:$(this).serialize(),
            success: function (request){
                vetor=[]
                for (let i = 0; i < request.length; i++) {
                    element = request[i];
                    if (element.paneIndex == 0) {
                        dic = {
                            name : element.name,
                            id : element.id,
                            paneIndex : 0,
                            aeropuerto_salida: element.aeropuerto_salida,
                            aeropuerto_destino : element.aeropuerto_destino,
                            fecha_aprobacion : element.fecha_aprobacion,
                            hora_aprobacion : element.hora_aprobacion,
                            nombre : element.nombre,
                            apellido : element.apellido,
                        }
                    }

                    if (element.paneIndex == 1) {
                        dic = {
                            name : element.name,
                            id : element.id,
                            paneIndex : 1,
                            aeropuerto_salida: element.aeropuerto_salida,
                            aeropuerto_destino : element.aeropuerto_destino,
                            fecha_aprobacion : element.fecha_aprobacion,
                            hora_aprobacion : element.hora_aprobacion,
                            nombre : element.nombre,
                            apellido : element.apellido,
                        }
                    }

                    if (element.paneIndex == 2) {
                        dic = {
                            name : element.name,
                            id : element.id,
                            paneIndex : 2,
                            aeropuerto_salida: element.aeropuerto_salida,
                            aeropuerto_destino : element.aeropuerto_destino,
                            fecha_aprobacion : element.fecha_aprobacion,
                            hora_aprobacion : element.hora_aprobacion,
                            nombre : element.nombre,
                            apellido : element.apellido,
                        }
                    }

                    vetor.push(dic)
                }

                array_global = vetor;

                
            }, 
            error: function (e) {
                console.log(e);
                return []
            }
                   
        });
    }

    new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            mousePos: {
            x: -1000,
            y: -1000 },

            lastMousePos: { x: 0, y: 0 },
            draggedCardIdx: -1,
            paneOverlappedIdx: -1,
            ghostCardStyle: {
            leaving: false,
            pos: {
                x: 0,
                y: 0 },

            width: 0,
            cursorDistance: {
                x: 0,
                y: 0 },

            percentDistanceMiddle: 0,
            transform: '',
            transformOrigin: '',
            velocity: 0,
            rotation: 0 },

            cards: array_global,

            panes: [
                {
                name: 'Para hacer', idx: 'cero', },

                {
                name: 'En curso', idx: 'uno', },

                {
                name: 'Finalizados', idx: 'dos', }
            ],

            settings: SETTINGS,
            settingsExpanded: false 
        },

        computed: {
            filledPanes() {
            let filledPanes = this.panes.map(item => ({ name: item.name }));

            for (let i = 0; i < this.cards.length; i++) {
                let pane = filledPanes[this.cards[i].paneIndex];
                if (!pane.cards) pane.cards = [];
                pane.cards.push({ ...this.cards[i], index: i });
            }

            return filledPanes;
            },
            draggedCard() {
            return this.cards[this.draggedCardIdx] || { name: '' };
            } 
        },
        
        mounted : function(){
            this.todo()     
        },

        methods: {
            onDragStart(e, index) {
                let cardEl = this.$refs[`card-${index}`][0];
                let cardRect = cardEl.getBoundingClientRect();

                document.documentElement.style.cursor = 'grabbing';

                let paddingLeft = parseFloat(getComputedStyle(cardEl).paddingLeft);
                let paddingRight = parseFloat(getComputedStyle(cardEl).paddingRight);

                this.mousePos.x = e.pageX;
                this.mousePos.y = e.pageY;

                this.draggedCardIdx = index;

                this.ghostCardStyle.width =
                cardEl.clientWidth - paddingLeft - paddingRight;
                this.ghostCardStyle.cursorDistance.x = e.pageX - cardRect.x;
                this.ghostCardStyle.cursorDistance.y = e.pageY - cardRect.y;

                this.setGhostCardStyle(e);
                this.updateUI();

                if (this.settings.transformOriginMode === 'center')
                this.ghostCardStyle.transformOrigin = 'center';else

                this.ghostCardStyle.transformOrigin = `${this.ghostCardStyle.cursorDistance.x}px ${this.ghostCardStyle.cursorDistance.y}px`;
                this.ghostCardStyle.percentDistanceMiddle =
                this.ghostCardStyle.cursorDistance.x - cardEl.clientWidth / 2;
                this.ghostCardStyle.percentDistanceMiddle = Math.abs(
                this.ghostCardStyle.percentDistanceMiddle);

                this.ghostCardStyle.percentDistanceMiddle /= cardEl.clientWidth / 2;
                this.ghostCardStyle.percentDistanceMiddle =
                Math.round(this.ghostCardStyle.percentDistanceMiddle * 100) / 100;
            },

            onDrag(e) {
                e = e || window.event;
                if (this.draggedCardIdx === -1)
                return;
                this.mousePos.x = e.pageX;
                this.mousePos.y = e.pageY;
            },

            updateUI() {
                let dragX = this.mousePos.x,
                dragY = this.mousePos.y;

                if (this.draggedCardIdx === -1 || this.ghostCardStyle.leaving) return;

                if (!dragX && !dragY) {
                    this.lastMousePos.x = 0;
                    this.lastMousePos.y = 0;
                    return requestAnimationFrame(this.updateUI);
                }
                this.findTransformValues();
                this.setGhostCardStyle(true);

                let isOverlapping;

                for (let i = 0, paneEl = null; paneEl = this.$refs[`pane-${i}`]; i++) {
                    paneEl = paneEl[0] ? paneEl[0] : paneEl;

                    isOverlapping = this.checkOverlap(
                    { x: dragX, y: dragY },
                    paneEl.getBoundingClientRect());


                    if (isOverlapping && this.paneOverlappedIdx === i)
                    return requestAnimationFrame(this.updateUI);else
                    if (isOverlapping) {
                    this.paneOverlappedIdx = i;
                    break;
                    }
                }

                if (!isOverlapping) {
                    return requestAnimationFrame(this.updateUI);
                }
                this.putCardInPane();
                return requestAnimationFrame(this.updateUI);
            },

            onDragStop() {
                if (this.draggedCardIdx === -1)
                return;
                document.documentElement.style.cursor = 'default';
                let cardEl = this.$refs[`card-${this.draggedCardIdx}`] && this.$refs[`card-${this.draggedCardIdx}`][0];
                let cardRect = cardEl.getBoundingClientRect();

                if (!this.settings.animateEnd) {
                    return this.resetValues();
                }
                setTimeout(() => {
                    this.resetValues();
                }, 100);
                this.ghostCardStyle.leaving = true;
                let xOffset = cardRect.x - this.ghostCardStyle.pos.x;
                let yOffset = cardRect.y - this.ghostCardStyle.pos.y;
                this.ghostCardStyle.transform = `scale(1) translate(${xOffset}px, ${yOffset}px)`;
            },

            resetValues() {
                this.draggedCardIdx = -1;
                this.paneOverlappedIdx = -1;
                this.lastMousePos.x = 0;
                this.lastMousePos.y = 0;
                this.ghostCardStyle.x = -1000;
                this.ghostCardStyle.y = -1000;
                this.ghostCardStyle.width = 0;
                this.ghostCardStyle.cursorDistance.x = 0;
                this.ghostCardStyle.cursorDistance.y = 0;
                this.ghostCardStyle.transform = '';
                this.ghostCardStyle.leaving = false;
                this.ghostCardStyle.percentDistanceMiddle = 0;
            },

            checkOverlap(drag, rect) {
                if (drag.x < rect.x || drag.x > rect.x + rect.width) return false;
                if (drag.y < rect.y || drag.y > rect.y + rect.height) return false;
                return true;
            },

            putCardInPane() {
                this.cards[this.draggedCardIdx].paneIndex = this.paneOverlappedIdx;
                //setTimeout(() => {alert( this.cards[this.draggedCardIdx].name + " --  " + this.cards[0].id  + " esta en el panel: >> " + this.paneOverlappedIdx )                }, 400);

                datasend={
                    id: this.cards[this.draggedCardIdx].id, 
                    estado: parseInt(this.paneOverlappedIdx),
                }

                guardar_estado(datasend)

            },

            setGhostCardStyle(isDragstart) {
                let dragX = this.mousePos.x,
                dragY = this.mousePos.y;
                let transform = [];

                if (isDragstart)
                transform.push(`scale(${this.settings.scale})`);

                transform.push(`rotate(${this.ghostCardStyle.rotation}deg)`);
                this.ghostCardStyle.transform = transform.join(' ');
                this.ghostCardStyle.pos.x = dragX - this.ghostCardStyle.cursorDistance.x;
                this.ghostCardStyle.pos.y = dragY - this.ghostCardStyle.cursorDistance.y;
            },

            findTransformValues() {

                if (this.settings.trelloStyle) {
                    this.ghostCardStyle.rotation = '4';
                    this.lastMousePos.x = this.mousePos.x;
                    this.lastMousePos.y = this.mousePos.y;
                    return;
                }


                let velocity = this.mousePos.x - this.lastMousePos.x;
                let rotation = this.ghostCardStyle.rotation || 0;

                let rotationMin = this.settings.rotationOffset.min;
                let rotationMax = this.settings.rotationOffset.max;
                let rotationOffset =
                (rotationMax - rotationMin) * (
                1 - this.ghostCardStyle.percentDistanceMiddle);
                let rotationMitigation = this.settings.rotationMitigation;

                rotation =
                rotation * (1 - rotationMitigation) +
                this.sigmoid(velocity) * (rotationMin + rotationOffset);
                if (Math.abs(rotation) < 0.01) rotation = 0;

                this.ghostCardStyle.velocity = velocity;
                this.ghostCardStyle.rotation = rotation;
                this.lastMousePos.x = this.mousePos.x;
                this.lastMousePos.y = this.mousePos.y;
            },

            sigmoid(x) {
                return x / (1 + Math.abs(x));
            },

            expandSettings() {
                if (this.settingsExpanded) return;
                this.settingsExpanded = true;
            },

            wrapSettings() {
                this.settingsExpanded = false;
            },

            abrir_aprobado: function (cadena) {
                direc="/plan_vuelo/verfplaprobado/" + cadena + "/"
                abrir_modal(direc)
            },

            todo: function(){  
                this.intervalid1 = setInterval(() => {
                    //this.changes = ((Math.random() * 100).toFixed(2))+'%';
                    //console.log (this.changes);
                    
                    //alert("hola 3"+ this.cards[0].name);
                    
                    //alert(vector_portrabajar);
                    getpor_Trabajar();
                    
                    setTimeout(() => {
                        this.cards=array_global;
                    }, 500);
                    //getpor_Trabajar();
                }, 1500);
            }
        } 
    });
  </script>


<script>
    //guardar estado del progreso
    function guardar_estado(datasend){
        $.ajax({
            type:'GET',
            url: "{% url 'view_guardar_estado_progreso' %}",
            data: datasend,
            //data:$(this).serialize(),
            success: function (request){
                if (request.estado == 'server200') {
                    console.log("Server 200");
                }else{
                    alert("NO AUTORIZADO")
                }
            }   
        });
    }
</script>

{% endblock extrajs %}



<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- ////////////////////////////////////////////////////////////////////////////-->