<!-- SE RECIBE aero, plan, detalles de la ficha, ruta del fpl, rutas all, puntosall   -->
    <div class="modal-dialog  modal-dialog-centered modal-xl " role="document" style="width: 62.5%; margin:auto;" >
        <div class="modal-content">

            <div class="modal-body">

                <section id="MSJ" class="section-bg" >
                    <div class="container-fluid">

                        <div class="section-header" style="text-align:center;">
                            <br>
                            
                            <h2 class="section-title">
                                {% block titulomodal %}
                                    {{data.titulo}} 
                                {% endblock titulomodal %}
                            </h2>
                        </div>
                        <br><br><br>
                        <div class="row">
                            <div class="col-lg-6  wow fadeInLeft">
                                <div class="containerpib">
                                    <div id="accordion" class="panel-group">
                                        {% for key , value in data.items %}
                                            {% if key == 'pib_publicar' and key %}
                                            <h4>PIB publicado</h4>
                                            {% endif %}

                                            {% if key == 'antecedente' and key %}
                                            <h4>Antecedente</h4>
                                            {% endif %}

                                            {% if key == 'form_oaci' and key %}
                                                <h4>
                                                    <a target="_blank" href="http://upsilon.aasana.ga{{value}}">Formulario OACI</a>
                                                </h4>
                                            {% endif %}
                                            

                                            {% if not forloop.first %}
                                            {{value}} 
                                            <br>
                                            {% endif %}
                                            
                                            
                                                
                                        {% endfor %}
                                        <br>
                                        
                                    </div>
                                </div>
                            </div>





                            <div class="col-lg-6  wow fadeInRight">
                                <div class="containerpib">
                                    <div id="accordion" class="panel-group">
                                        <!--mita 2-->
                                        <div id='map' style="z-index:0; border-radius: 25px 25px ; width: 350px; height:350px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

            </div>

            <div class="modal-footer">
                <br><br>
                <br><br>
                <br><br>
                <button class="btn btn-danger " type="button" data-dismiss="modal" style="z-index:900;">Cerrar</button>
            </div>

        </div>
    </div>
<!--

-->
        <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>

        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiY2FlbHQiLCJhIjoiY2tmNGx4MDY3MDBnNTJ5cDh2aHhjOTQyciJ9.juIQGQyyJdwT0cIfnbFA3Q';
            latitude='{{area.lat}}'
            latitude= latitude.substr(0,2) + " " + latitude.substr(2, latitude.length)
            longitude='{{area.long}}'
            longitude= longitude.substr(0,3) + " " + longitude.substr(3, longitude.length)
    
            //alert(latitude, longitude)
            radius=parseInt('{{area.radius}}')
            if (radius ==0 || radius==999) {
                radius=0;
            }else{
                radius=1852*radius;
            }
            var vector_posicion = parse_gps(longitude +" "+latitude)
    
            longitude=vector_posicion[1]
            latitude=vector_posicion[0]
    
            //alert(longitude + " " + latitude)
    
            //LAT': '1725S', 'LONG': '06610W'
            function parse_gps( input ) {
    
                if( input.indexOf( 'N' ) == -1 && input.indexOf( 'S' ) == -1 &&
                    input.indexOf( 'W' ) == -1 && input.indexOf( 'E' ) == -1 ) {
                    return input.split(',');
                }
    
                var parts = input.split(/[°'"]+/).join(' ').split(/[^\w\S]+/);
    
                var directions = [];
                var coords = [];
                var dd = 0;
                var pow = 0;
    
                for( i in parts ) {
    
                    // we end on a direction
                    if( isNaN( parts[i] ) ) {
    
                        var _float = parseFloat( parts[i] );
    
                        var direction = parts[i];
    
                        if( !isNaN(_float ) ) {
                            dd += ( _float / Math.pow( 60, pow++ ) );
                            direction = parts[i].replace( _float, '' );
                        }
    
                        direction = direction[0];
    
                        if( direction == 'S' || direction == 'W' )
                            dd *= -1;
    
                        directions[ directions.length ] = direction;
    
                        coords[ coords.length ] = dd;
                        dd = pow = 0;
    
                    } else {
    
                        dd += ( parseFloat(parts[i]) / Math.pow( 60, pow++ ) );
    
                    }
    
                }
    
                if( directions[0] == 'W' || directions[0] == 'E' ) {
                    var tmp = coords[0];
                    coords[0] = coords[1];
                    coords[1] = tmp;
                }
    
                return coords;
            }
        
        


            var map = new mapboxgl.Map({
              container: 'map',
              //style: 'mapbox://styles/mapbox/streets-v11',
              style: 'mapbox://styles/caelt/ckgljytdo02dj19pnnzqpr7sc',
              center: [longitude, latitude],
              zoom: 10,
              minZoom: 7,
              maxZoom: 15,
            });
     
            map.on('load', function() {
              map.addSource("source_circle_500", {
                "type": "geojson",
                "data": {
                  "type": "FeatureCollection",
                  "features": [{
                    "type": "Feature",
                    "geometry": {
                      "type": "Point",
                      "coordinates": [longitude, latitude]
                    }
                  }]
                }
              });
     
              map.addLayer({
                "id": "circle500",
                "type": "circle",
                "source": "source_circle_500",
                "paint": {
                  "circle-radius": {
                     stops: [
                       [0, 0],
                       [20, metersToPixelsAtMaxZoom(radius,latitude)]
                     ],
                     base: 2
                 },
                  "circle-color": "#FA8258",
                  "circle-opacity": 0.2
                }
              });
            });
     
        </script>
     
        <script>
          function metersToPixelsAtMaxZoom (meters, latitude){
          return (meters / 0.075 / Math.cos(latitude * Math.PI / 180))
          }
        </script>
