{% extends 'temp_plan_vuelo/baseadmin.html' %} 
{% load static %} 

{% block title %}
<title>Upsilon | Progreso</title>
{% endblock title %}



{% block extra_head %}
    <link rel='stylesheet' href='https://harvesthq.github.io/chosen/chosen.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'theme-assets/css/aprobar_plan.css' %}"> -->


    <style>
        /* STYLE FOR MODAL RADIO BUTOONS FOR USERS FOR PROVE FPL */
        .radio-tile-group {
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: center;
        }
        .radio-tile-group .input-container {
        position: relative;
        height: 7rem;
        width: 7rem;
        margin: 0.5rem;
        }
        .radio-tile-group .input-container .radio-button {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        cursor: pointer;
        }
        .radio-tile-group .input-container .radio-tile {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: center;
                align-items: center;
        -webkit-box-pack: center;
                justify-content: center;
        width: 100%;
        height: 100%;
        border: 2px solid #079ad9;
        border-radius: 5px;
        padding: 1rem;
        -webkit-transition: -webkit-transform 300ms ease;
        transition: -webkit-transform 300ms ease;
        transition: transform 300ms ease;
        transition: transform 300ms ease, -webkit-transform 300ms ease;
        }
        .radio-tile-group .input-container .icon svg {
        fill: #079ad9;
        width: 3rem;
        height: 3rem;
        }
        .radio-tile-group .input-container .radio-tile-label {
        text-align: center;
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #079ad9;
        }
        .radio-tile-group .input-container .radio-button:checked + .radio-tile {
        background-color: #079ad9;
        border: 2px solid #079ad9;
        color: white;
        -webkit-transform: scale(1.1, 1.1);
                transform: scale(1.1, 1.1);
        }
        .radio-tile-group .input-container .radio-button:checked + .radio-tile .icon svg {
        fill: white;
        background-color: #079ad9;
        }
        .radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
        color: white;
        background-color: #079ad9;
        }
        /* STYLE FOR MODAL RADIO BUTOONS FOR USERS FOR PROVE FPL */
    </style>
{% endblock extra_head %}
    



<!-- ////////////////////////////////////////////////////////////////////////////-->


{% block content %}

<!--BARRA LATERAL O MENU LATERAL-->
<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="false">

    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="active">
                <a href="#_planes_recientes">
                    <i class="ft-home"></i>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#_planes_aprobados">
                    <i class="ft-pie-chart"></i>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#_notams">
                    <i class="ft-droplet"></i>
                </a>
            </li>
            <li class=" nav-item">
                <a href="#_metars">
                    <i class="ft-layers"></i>
                </a>
            </li>
        </ul>
    </div>

</div>
<!--BARRA LATERAL O MENU LATERAL-->

<br>

<!-- Plan de vuelos recientes -->
<div id="_planes_recientes"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%; ">

                <div class="card-header">
                    <h3 class="card-title">Planes Recientes</h3>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li>
                                <button class="btn-primary" id="update_fpl1">Actualizar</button>
                            </li>

                            <li><a data-action="reload" ><i class="ft-rotate-cw" id="update_fpl1"></i></a></li>

                            <!--BUSCAR-->
                            <li class="nav-item dropdown navbar-search">
                                <a class="nav-link dropdown-toggle hide" data-toggle="dropdown" href="#">
                                    <i class="ficon ft-search"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="arrow_box">
                                        <div class="input-group search-box">
                                            <div class="position-relative has-icon-right full-width">
                                                <input class="form-control" type="text" id="buscar_flp_table" onkeyup="buscarFlp()" placeholder="Buscar FLP">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!--BUSCAR-->

                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <br>
                </div>
                <!--CONTENIDO DE LA TABLA DE PLANES RECIENTES-->
               
               
               
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">

                    <!-- /.modal -->
                    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    </div>
                    <!-- /.modal -->

                    <div class="table-responsive">
                        <table id="tabla_planes_recientes" class="table table-striped" align="center" style="text-align:center;">
                            <thead>
                                <tr>
                                    <th scope="col">ID AMHS</th>
                                    <th scope="col">Tiempo</th>
                                    <th scope="col">FPL</th>
                                    <th scope="col">Origen</th>
                                    <th scope="col">Destino</th>
                                    <th scope="col">Tiempo de vuelo</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="toUpdate_fpl">

                                {% for fpl in lista_fpl %}
                                <tr>
                                    <th id="{{elemen.id}}" width="5%" scope="row">{{fpl.id_amhs}}</th>
                                    <th width="5%">{{fpl.hora_amhs}} <br> {{fpl.fecha|slice:"2:"}} </th>
                                    <td width="5%">{{fpl.id_aeronave|slice:"5:11"}}</td>
                                    <td width="5%">{{fpl.aeropuerto_salida|slice:"1:5"}} <br> {{fpl.aeropuerto_salida|slice:"5:10"}}</td>
                                    <td width="5%">{{fpl.aeropuerto_destino|slice:"1:5"}}</td>
                                    <td width="5%">{{fpl.aeropuerto_destino|slice:"5:9"}}</td>
                                    <td width="15%">
                                        <!--
                                        -->
                                        <button class="btn btn-outline-info" onclick="abrir_modal( '{% url 'view_aprobar_flp' id_plancompleto=fpl.id_mensaje%}')">Ver FLP</button>

                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Planes de vuelo recientes -->




<!-- Plan de vuelos aprobados -->
<div id="_planes_aprobados"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%;">
                <div class="card-header">
                    <h4 class="card-title">Planes aprobados</h4>
                    
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <br>

                </div>
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">
                    <div class="table-responsive">
                        <table id="tabla_planes_recientes" class="table table-striped" align="center" style="text-align:center;">
                            <thead>
                                <tr>
                                    <th scope="col">ID AMHS</th>
                                    <th scope="col">Tiempo</th>
                                    <th scope="col">FPL</th>
                                    <th scope="col">Origen</th>
                                    <th scope="col">Destino</th>
                                    <th scope="col">Tiempo de vuelo</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody id="toUpdate_fpl">

                                {% for fpl in lista_fpl_aprobado %}
                                <tr>
                                    <th id="{{elemen.id}}" width="5%" scope="row">{{fpl.id_amhs}}</th>
                                    <th width="5%">{{fpl.hora_amhs}} <br> {{fpl.fecha|slice:"2:"}} </th>
                                    <td width="5%">{{fpl.id_aeronave|slice:"5:11"}}</td>
                                    <td width="5%">{{fpl.aeropuerto_salida|slice:"1:5"}} <br> {{fpl.aeropuerto_salida|slice:"5:10"}}</td>
                                    <td width="5%">{{fpl.aeropuerto_destino|slice:"1:5"}}</td>
                                    <td width="5%">{{fpl.aeropuerto_destino|slice:"5:9"}}</td>
                                    <td width="15%">
                                        <!--
                                        -->
                                        <button class="btn btn-outline-info" onclick="abrir_modal( '')">Editar FLP</button>

                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Planes de vuelo aprobados -->




<!--NOTAMS-->
<div id="_notams"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%;">
                <div class="card-header">
                    <h4 class="card-title">NOTAMS</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <br>

                </div>
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--NOTAMS-->


<!--METARS-->
<div id="_metars"></div><br><br><br><br>
<section>
    <div class="row justify-content-center">
        <div class="col-10" style="align-content: center;">
            <div class="card" style="box-shadow: 2px 2px 8px 0 black; min-height: 30%;  max-height: 100%;">
                <div class="card-header">
                    <h4 class="card-title">METARS</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                    <br>

                </div>
                <div class="card-content collapse show" style="height: 75%; overflow-y: auto;">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" width="50px">id_amhs</th>
                                    <th scope="col">fecha_hora</th>
                                    <th scope="col">Prioridad</th>
                                    <th scope="col">Estacion</th>
                                    <th scope="col">Hora_clima</th>
                                    <th scope="col">Mensaje</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for metarlinea in metar %}
                                <tr>
                                    <th scope="row">{{metarlinea.id_amhs}}</th>
                                    <td>{{metarlinea.hora_amhs}}</td>
                                    <td>{{metarlinea.prioridad}}</td>
                                    <td>{{metarlinea.estacion}}</td>
                                    <td>{{metarlinea.hora_clima}}</td>
                                    <td>{{metarlinea.texto}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--METARS-->

{% endblock content %} 


{% block extrajs %}
<script src='https://harvesthq.github.io/chosen/chosen.jquery.js'></script>
<script src="{% static 'theme-assets/js/scripts/aprobar_plan.js' %}"></script>

<script type="text/javascript">
    //var $ = jQuery.noConflict();

    function abrir_modal(url) {
        //alert(url);
        $("#modal").load(url.trim(), function() {
            $(this).modal('show');
        });
    }

    function buscarFlp() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("buscar_flp_table");
        filter = input.value.toUpperCase();
        table = document.getElementById("tabla_planes_recientes");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[4];
            if (td) {
                txtValue = td.textContent || td.innerText;
                txtValue = txtValue.trim();
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }

        }
    }


    //DESPLAZAMIENTO SUAVIZADO
    $('.main-menu-content a').click(function(e){				
		e.preventDefault();		//evitar el eventos del enlace normal
		var strAncla=$(this).attr('href'); //id del ancla
			$('body,html').stop(true,true).animate({				
				scrollTop: $(strAncla).offset().top
			},200);		
    });

    //ACTIVAR EL UPDATE FPL 
        $("#update_fpl1").click(function(e){
            e.preventDefault();
            $.ajax({
                //url:$(this).attr('action'),
                //type:$(this).attr('method'),
                //data:$(this).serialize(),
                type:'GET',
                url:'{% url 'view_update_flp' %}',
                success: function (respuesta){
                    concatenado="";
                    var a,b,c,d,e,f,g,h,i,j,k;
                    for (let index = 0; index < respuesta.length; index++) {
                                    a = "<tr>";
                                    b = '<th id="{{elemen.id}}" width="5%" scope="row">' + respuesta[index].id_mensaje + '</th>';
                                    c = '<th width="5%">' + respuesta[index].hora_amhs + "<br>" + respuesta[index].fecha + "</th>";
                                    d = '<td width="5%">' + respuesta[index].id_aeronave + '</td>';
                                    e = '<td width="5%">' + respuesta[index].aeropuerto_salida + '<br>' + respuesta[index].aeropuerto_salida + '</td>';
                                    f = '<td width="5%">' + respuesta[index].aeropuerto_destino + '</td>';
                                    g = '<td width="5%">' + respuesta[index].aeropuerto_destino + '</td>';
                                    h = '<td width="15%">';
                                    i =  '<button class="btn btn-outline-info"' +  'onclick="'+ 'abrir_modal(' + "'/plan_vuelo/admin_popup/" + respuesta[index].id_mensaje+ "/'" + ')"'  + '>' +'Ver FLP</button>';
                                    j = "</td>";
                                    k = "</tr>";
                                    concatenado=concatenado+ (a+b+c+d+e+f+g+h+i+j+k)
                    }
                    document.getElementById('toUpdate_fpl').innerHTML=concatenado;
                    
                }   
            });

            return false;
        });


</script>




<script>
    function abrir_modal(url) {
        //alert(url);
        $("#modal").load(url.trim(), function() {
            $(this).modal('show');
        });
    }
</script>

{% endblock extrajs %}



<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- ////////////////////////////////////////////////////////////////////////////-->