{% extends 'temp_plan_vuelo/baseadmin.html' %} 
{% load staticfiles %}



{% block extra_head %}
<link rel="stylesheet" href="{% static 'theme-assets/css/tablero_trello.css' %}">

<!-- <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/dragula.min.js'></script> -->
{% endblock extra_head %}
    

{% block content %}

<br>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-4" >
            <!-- partial:index.partial.html -->
            <div id="root"></div>
            <!-- partial -->
        </div>

        <div class="col-sm-4" >
            <!-- partial:index.partial.html -->
            <div id="root2"></div>
            <!-- partial -->
        </div>

        <div class="col-sm-4" >
            <!-- partial:index.partial.html -->
            <div id="root3"></div>
            <!-- partial -->
        </div>

      </div>
</div>

<br>




    
    
{% endblock content %}
    
    
    
    
{% block extrajs %}
    
    <script src='https://unpkg.com/react@16.10.2/umd/react.development.js'></script>
    <script src='https://unpkg.com/react-dom@16.10.2/umd/react-dom.development.js'></script>
    <script src='https://unpkg.com/react-beautiful-dnd@11.0.5/dist/react-beautiful-dnd.js'></script>
    
    <script src="{% static 'theme-assets/js/scripts/tablero_trello.js' %}"></script>
{% endblock extrajs %}