/*
html,body{
	height: 100%;
	display: flex;
	flex-direction: column;
}
body {
  margin: 0; 
	padding: 0; 
	background: #2492db;
	color: #000;
	font-family: 'Roboto', sans-serif;
  }
*/

.mt {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  height:3em;
  background-color:#ffcc00;
  line-height:3em;
  padding-left:2em;
}
#map {
  position: absolute; 
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto; 
	width: 100%;
	height: 100%
}

/*--------------------*/
.contenedor{
	width: 100%;
	height: 100%;
	/*max-width: 1000px;*/
	margin: auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(4,1fr);
	grid-template-areas: "mapa mapa info_1"
	"mapa mapa info_1"
	"mapa mapa info_2"
	"mapa mapa info_2";
}
.contenedor .mapa, .contenedor .info_1, .contenedor .info_2{
	background: #fff;
	padding: 15px;
	border-radius: 8px;
}
.contenedor .mapa{
	background: #cacaca;
	color: #fff;
	grid-area: mapa;
	position: relative;
}
.contenedor .info_1{
	background: #2980b9;
	color: #fff;
	overflow: hidden;
	overflow-y: scroll;
	grid-area: info_1;
}
.contenedor .info_1 h2{
	text-align: center;
	color: #81ecec;
}
.contenedor .info_2{
	background: #16a085;
	color: #fff;
	overflow: hidden;
	overflow-y: scroll;
	grid-area: info_2;
}
.contenedor .info_2 h2{
	text-align: center;
	color: #55efc4;
}
@media screen and (max-width: 768px){
	html,body{
		height: 1400px;
	}
	.contenedor{
		grid-template-areas: "mapa mapa mapa"
		"mapa mapa mapa"
		"info_1 info_1 info_1"
		"info_2 info_2 info_2";
	}
}