@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
	font-family: 'Open Sans';
}
/*====================== PRELOADER =====================*/
.loader__page .loader .inicial__uno,.loader__page .loader .inicial__dos,.loader__page .loader .inicial__tres{
	position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.loader__page .loader .inicial__uno{
  width: 110px;
  -webkit-animation: animacion_inicial_uno 2s infinite linear;
}
.loader__page .loader .inicial__dos{
  width: 220px;
  -webkit-animation: animacion_inicial_dos 4s infinite linear;
  z-index: 20;
}
.loader__page .loader .inicial__tres{
	width: 400px;
  -webkit-animation: animacion_inicial_tres 30s infinite linear;
}
@-webkit-keyframes animacion_inicial_uno{
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(359deg);
  }
}
@-webkit-keyframes animacion_inicial_dos{
  from{
    -webkit-transform: rotate(359deg);
  }
  to{
    -webkit-transform: rotate(0deg);
  }
}
@-webkit-keyframes animacion_inicial_tres{
	0%{
		-webkit-transform: rotate(0deg);
	}
	10%{
		-webkit-transform: rotate(10deg);
	}
	20%{
		-webkit-transform: rotate(-20deg);
	}
	30%{
		-webkit-transform: rotate(30deg);
	}
	40%{
		-webkit-transform: rotate(-40deg);
	}
	50%{
		-webkit-transform: rotate(50deg);
	}
	60%{
		-webkit-transform: rotate(-60deg);
	}
	70%{
		-webkit-transform: rotate(70deg);
	}
	80%{
		-webkit-transform: rotate(-80deg);
	}
	90%{
		-webkit-transform: rotate(90deg);
	}
	100%{
		-webkit-transform: rotate(0deg);
	}
}
.loader__page{
  position: fixed;
  z-index: 25000;
  background: rgb(53, 59, 72);
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}
/*======================================================*/

/*================== LOADER CONTAINER ==================*/
.loaderContainer{
	padding-top: 45%;
	position: relative;
	display:flex;
  justify-content:center;
  align-items:center;
  margin-top: 50px;
}
.loaderContainer .loader__banner #banner__logo1,
.loaderContainer .loader__banner #banner__logo2,
.loaderContainer .loader__banner #banner__logo3{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}
.loaderContainer .loader__banner #banner__logo1{
	width: 100px;
  -webkit-animation: animacion_uno 3s infinite linear;
}
.loaderContainer .loader__banner #banner__logo2{
	width: 195px;
  -webkit-animation: animacion_dos 5s infinite linear;
}
.loaderContainer .loader__banner #banner__logo3{
	width: 350px;
  -webkit-animation: animacion_tres 30s infinite linear;
}
@-webkit-keyframes animacion_uno{
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(359deg);
	}
}
@-webkit-keyframes animacion_dos{
	from{
		-webkit-transform: rotate(359deg);
	}
	to{
		-webkit-transform: rotate(0deg);
	}
}
@-webkit-keyframes animacion_tres{
	0%{
		-webkit-transform: rotate(0deg);
	}
	10%{
		-webkit-transform: rotate(10deg);
	}
	20%{
		-webkit-transform: rotate(-20deg);
	}
	30%{
		-webkit-transform: rotate(30deg);
	}
	40%{
		-webkit-transform: rotate(-40deg);
	}
	50%{
		-webkit-transform: rotate(50deg);
	}
	60%{
		-webkit-transform: rotate(-60deg);
	}
	70%{
		-webkit-transform: rotate(70deg);
	}
	80%{
		-webkit-transform: rotate(-80deg);
	}
	90%{
		-webkit-transform: rotate(90deg);
	}
	100%{
		-webkit-transform: rotate(0deg);
	}
}
/*======================================================*/

/*======================== VIDEO =======================*/
#loginlogo{
	position: relative;
	grid-area: loginlogo;
	background: -webkit-linear-gradient(top,#0399cf,#289ec9, #289ec9, #0399cf);
	right: auto;
	left: auto;
}

.imglogo{
	width:250px;
	height:250px;
	padding-top:50px;
	
}
.txtlogo{
	padding: 3%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6em;
	text-align: center;
	color: #fff;
}
#video{
	grid-area: video;
	background: -webkit-linear-gradient(top,#0399cf,#289ec9, #289ec9, #0399cf);
  display:flex;
  justify-content:center;
  align-items:center;
}
#video iframe{
	margin: 30px 0px;
}
/*======================================================*/

/*======================= FOOTER =======================*/
.footer__abajo{
  background: -webkit-linear-gradient(right,#0399cf,#289ec9, #289ec9, #0399cf);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 20px 20px
}
.footer__abajo .footer__arriba,
.footer__abajo .footer__medio,
.footer__abajo .footer__final{
  display: block;
  text-align: center;
}
/*footer arriba*/
.footer__abajo .footer__arriba{
  width: 100%;
  text-align: center;
}
.footer__abajo .footer__arriba .loader__footer{
  position: relative;
  width: 100%;
  min-height: 150px;
  margin-bottom: 10px;
}
.footer__abajo .footer__arriba .loader__footer .footer__svg__uno,
.footer__abajo .footer__arriba .loader__footer .footer__svg__dos,
.footer__abajo .footer__arriba .loader__footer .footer__svg__tres{
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto; 
}
.footer__abajo .footer__arriba .loader__footer .footer__svg__uno{
  width: 70px;
  -webkit-animation: svg__uno 35s infinite linear;
}
.footer__abajo .footer__arriba .loader__footer .footer__svg__dos{
  width: 140px;
  -webkit-animation: svg__dos 35s infinite linear;
  z-index: 20;
}
.footer__abajo .footer__arriba .loader__footer .footer__svg__tres{
  width: 300px;
  top: 35px;
}
@-webkit-keyframes svg__uno{
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(359deg);
  }
}
@-webkit-keyframes svg__dos{
  from{
    -webkit-transform: rotate(359deg);
  }
  to{
    -webkit-transform: rotate(0deg);
  }
}
.footer__abajo .footer__arriba .loader__footer .parpadeo__footer{
  animation-name: parpadeo;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 20s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo{
  0%{opacity: 1.0;}
  50%{opacity: 0.0;}
  100%{opacity: 1.0}
}
@-webkit-keyframes parpadeo{
  0%{opacity: 1.0;}
  50%{opacity: 0.0;}
  100%{opacity: 1.0}
}
@keyframes parpadeo{
  0%{opacity: 1.0;}
  50%{opacity: 0.0;}
  100%{opacity: 1.0}
}
/*footer medio*/
.footer__abajo .footer__medio{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.footer__abajo .footer__medio .links{
  position: relative;
}
.footer__abajo .footer__medio .footer__links{
  color: #fff;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
.footer__abajo .footer__medio .footer__links a{
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  padding: 20px 15px;
  margin: 0px 10px;
}
.footer__abajo .footer__medio .footer__links a:hover{
  background: #f56f3a;
  border-radius: 40px;
  transition: 4000ms ease; 
}
/* footer abajo */
.footer__abajo .footer__final{
  width: 100%;
  text-align: center;
}
.footer__abajo .footer__final .primera{
  color: #747575;
  font: normal 36px 'Open Sans',cursive;
  margin: 0; 
}
.footer__abajo .footer__final .primera > span{
  color: #ffffff;
}
.footer__abajo .footer__final .empresa{
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
.footer__abajo .footer__final .footer__nombre{
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
}
.footer__abajo .footer__final .footer__empresa{
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
/*======================================================*/