{% extends "temp_plan_vuelo/base.html" %}

{% block content %}


<!--==========================
        Intro Section
   ============================-->
<section id="intro">

    <div class="row">
        <div class="col-lg-6 content wow fadeInLeft" style="margin-top: 15%;">
            <div style="margin-top: 5%;">
                <h2><strong>Upsilon</strong></h2>
                <p style="font-size: 15px; ">
                    Sistema de adminitracion de trafico aereo con informacion de notificacion y metereologica.
                </p>
                <a href="#funciones" class="btn-get-started scrollto"> Comencemos</a>
            </div>

        </div>

        <div class="col-lg-6 about-img wow fadeInRight" style="margin-top: 15%;">
            <div class="container" style="text-align: center;">
                <h3 style="color: white;">El actual ususrio ya esta logueado</h3>
                <br>
                <p>Usa una cuenta diferente!</p>

                <a href="{% url 'login'%}">Click aqui para ingresar nuevamente.</a>

            </div>
        </div>


    </div>
</section>
<!-- #intro -->









<main id="main">

    <!--==========================
      Function Section
    ============================-->
    <section id="funciones">
        <div class="container">

            <div class="col-lg-8 offset-lg-4">
                <div class="section-header wow fadeIn" data-wow-duration="1s">
                    <h3 class="section-title">Funciones Principales</h3>
                    <span class="section-divider"></span>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 ">
                <div class="row">
                    <div class="col-lg-5 col-md-5 box wow fadeInRight">
                        <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                        <h4 class="title"><a href="">ACC</a></h4>
                        <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                            excepturi sint
                            occaecati cupiditate non provident clarida perendo.</p>
                    </div>
                    <div class="col-lg-5 col-md-5 box wow fadeInRight" data-wow-delay="0.1s">
                        <div class="icon"><i class="ion-ios-flask-outline"></i></div>
                        <h4 class="title"><a href="">RADAR</a></h4>
                        <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea
                            commodo consequat tarad limino ata noble dynala mark.</p>
                    </div>
                    <div class="col-lg-5 col-md-5 box wow fadeInRight" data-wow-delay="0.2s">
                        <div class="icon"><i class="ion-social-buffer-outline"></i></div>
                        <h4 class="title"><a href="">APP</a></h4>
                        <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu
                            fugiat nulla pariatur teleca starter sinode park ledo.</p>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-- #features -->


    <!--==========================
      About Us Section
    ============================-->
    <section id="about" class="section-bg">
        <div class="container-fluid">
            <div class="section-header">
                <h3 class="section-title">About Us</h3>
                <span class="section-divider"></span>
                <p class="section-description">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque<br>
                    sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>

            <div class="row">
                <div class="col-lg-6 about-img wow fadeInLeft">
                    <img src="img/about-img.jpg" alt="">
                </div>

                <div class="col-lg-6 content wow fadeInRight">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elite storium paralate</h2>
                    <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                        anim id est
                        laborum.</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>

                    <ul>
                        <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </li>
                        <li><i class="ion-android-checkmark-circle"></i> Duis aute irure dolor in reprehenderit in
                            voluptate
                            velit.</li>
                        <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro
                            dolore eu fugiat
                            nulla pariatur.</li>
                    </ul>

                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet
                        sit amet
                        cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus
                        scelerisque eleifend
                        donec
                    </p>
                </div>
            </div>

        </div>
    </section><!-- #about -->




    <!--==========================
      Product Featuress Section
    ============================-->
    <section id="features">
        <div class="container">

            <div class="row">

                <div class="col-lg-8 offset-lg-4">
                    <div class="section-header wow fadeIn" data-wow-duration="1s">
                        <h3 class="section-title">Product Featuress</h3>
                        <span class="section-divider"></span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-5 features-img">
                    <img src="img/product-features.png" alt="" class="wow fadeInLeft">
                </div>

                <div class="col-lg-8 col-md-7 ">

                    <div class="row">

                        <div class="col-lg-6 col-md-6 box wow fadeInRight">
                            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                                excepturi sint
                                occaecati cupiditate non provident clarida perendo.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
                            <div class="icon"><i class="ion-ios-flask-outline"></i></div>
                            <h4 class="title"><a href="">Dolor Sitema</a></h4>
                            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea
                                commodo consequat tarad limino ata noble dynala mark.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
                            <div class="icon"><i class="ion-social-buffer-outline"></i></div>
                            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu
                                fugiat nulla pariatur teleca starter sinode park ledo.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
                            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                            <h4 class="title"><a href="">Magni Dolores</a></h4>
                            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                officia
                                deserunt mollit anim id est laborum dinoun trade capsule.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>
    <!-- #features -->

</main>

























{% endblock %}