{% extends "temp_plan_vuelo/base.html" %}
{% load static %}
{% load chartkick %}


{% block title %}
<title>Upsilon | login</title>
{% endblock title %}




{% block extra_head %}
<!--PIB EN REAL TIME 
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css'>
-->
<link rel="stylesheet" href="{% static 'pib_acordeon/acordeon.css' %}">

<!--MAPA NOTAM-->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css'>
<link rel="stylesheet" href="{% static 'notam_map/map.css' %}">

<!--agregando el FOOTER-->
<link rel="stylesheet" href="{% static 'footer/css/footer.css' %}">

<!--agregando el preloader y banner-->
<link rel="stylesheet" href="{% static 'banner/css/estilos.css' %}">

<!-- AGREGANDO BANNER MODAL LOGIN -->
<link rel="stylesheet" href="{% static 'banner/css/formulario_login.css' %}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!--Agregando data visualization-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/chartkick/2.3.0/chartkick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>

<!--  Agregando el slider  -->
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
<link rel="stylesheet" href="{% static 'notametro/estilos.css' %}">
{% endblock extra_head %}






{% block content %}
<!--==========================
        preloader
============================-->
<div class="loader__page">
    <div class="loader">
        <img src="{% static 'banner/img/banner/logo_1.svg' %}" alt="logo_uno" class="inicial__uno">
        <img src="{% static 'banner/img/banner/logo_2.svg' %}" alt="logo_dos" class="inicial__dos">
        <img src="{% static 'banner/img/banner/logo_3.svg' %}" alt="logo_tres" class="inicial__tres">
    </div>
</div>

<!--==========================
    banner  y logo animado y modal login
============================-->

<div class="row" style="height: 650px;">
    <div class="col-lg-6" id="loginlogo">

        <div class="loaderContainer">
            <div class="loader__banner">
                <img src="{% static 'banner/img/banner/logo_1.svg' %}" alt="logo_uno" id="banner__logo1">
                <img src="{% static 'banner/img/banner/logo_2.svg' %}" alt="logo_dos" id="banner__logo2">
                <img src="{% static 'banner/img/banner/logo_3.svg' %}" alt="logo_tres" id="banner__logo3">
            </div>
        </div>

        <p class="txtlogo">
            Sistema distribuido y en tiempo real de la gestión de información aeronáutica
        </p>

        <!-- Boton modal Login-->
        <div class=btn-container>

            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalLogin" id="btn-form"
                style="background:#f39c12">
                Iniciar Sesión
            </button>
             -->

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalLogin" id="btn-form"
                style="background:#f39c12" onclick="abrir_modal( '{% url 'login' %}')">Iniciar sesión</button>
        </div>

        <!-- /.modal 
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            </div>
        -->


        <!-- Modal Login-->
        <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
        </div>

    </div>

    <div class="col-lg-6" id="video">
        <iframe width="500px" height="250px" src="https://www.youtube.com/embed/ZVQeTagj0AI" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>



<main id="main">

    <div id="app">
        <div class="content align-center">
            <h1 class="subtitle" style="margin-left: 35%;">
                PIB en tiempo real
            </h1>

            <br>
            <h4 class="title">Ultima actualización: 23/03/2021 </h4>
            <section class="section">
                <h3>Aeropuertos</h3>
                <accordion id="accordion-example-1" :content="example1" multiple="multiple"></accordion>
            </section>
            <!--
                <section class="section">
                    <h3>2do Acordeon</h3>
                    <accordion id="accordion-example-2" :content="example2" multiple="multiple"></accordion>
                </section>

                <section class="section">
                    <h3>3er Acordeon</h3>
                    <accordion id="accordion-example-3" :content="example3" multiple="multiple"></accordion>
                </section>
            -->
        </div>
    </div>
    <!--==========================
    BOLETIN DE INFORMACION RAPIDA
        <section id="PIB" class="section-bg" >
            <div class="container-fluid">

                <div class="section-header">
                    <br><br><br>
                    <h3 class="section-title">PIB</h3>
                    <span class="section-divider"></span>
                    <p class="section-description">
                        Boletín de información previa al vuelo.
                    </p>
                </div>

                <div class="row">
                    <div class="col-lg-6  wow fadeInLeft">
                        <div class="containerpib">
                            <div id="accordion" class="panel-group">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#panelBodySLLP" class="accordion-toggle" data-toggle="collapse"
                                                data-parent="#accordion">SLLP</a>
                                        </h4>
                                    </div>
                                    <div id="panelBodySLLP" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class=" table-responsive">
                                                <table class="table table-hover ">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:30px;">Instalacion</th>
                                                            <th class="col-md-6">Informacion</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>ACC</td>
                                                            <td>DESDE 30/DIC/19 HR 2145 FREQ 128,2 MHZ SECTOR NORESTE
                                                                POSICION UDIDI, ILRES, ARMUK, COBERTURA REDUCIDA HASTA
                                                                29/ENE/20 HR 2200 EST. (C3293) </td>
                                                        </tr>
                                                        <tr>
                                                            <td>ACC</td>
                                                            <td>DESDE 30/DIC/19 HR 2148 FREQ 128,2 MHZ SECTOR NOROESTE POSICION ELAKO, DOBNI, RAXUN, COBERTURA REDUCIDA HASTA 29/ENE/20 HR 2200 EST.   (C3294) </td>
                                                        </tr>
                                                        <tr>
                                                            <td>ACC</td>
                                                            <td>DESDE 30/DIC/19 HR 2151 FREQ 128.2 MHZ POSICION, EMPEX, ILPEM, SOTKU, UBSAS, COBERTURA REDUCIDA HASTA 29/ENE/20 HR 2200 EST.   (C3295) </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#panelBodySLAL" class="accordion-toggle collapsed"
                                                data-toggle="collapse" data-parent="#accordion">SLAL</a>
                                        </h4>
                                    </div>

                                    <div id="panelBodySLAL" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class=" table-responsive">
                                                <table class="table table-hover ">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:30px;">Instalacion</th>
                                                            <th class="col-md-6">Informacion</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>AD</td>
                                                            <td>DESDE 31/DIC/19 HR 2330 LAS OPERACIONES NOCTURNAS A SOLICITUD HASTA 0100 DE 31/ENE/20 EST.   (C3310)  </td>
                                                        </tr>
                                                        <tr>
                                                            <td>ILS</td>
                                                            <td>DESDE 07/ENE/20 HR 1922 SISTEMA DE ATERRIZAJE POR INSTRUMENTOS PISTA 36 EN PRUEBA HASTA 07/FEB/20 HR 2200 EST.   (C0039)  </td>
                                                        </tr>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                                
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#panelBodySLAP" class="accordion-toggle collapsed"
                                                data-toggle="collapse" data-parent="#accordion">SLAP</a>
                                        </h4>
                                    </div>
                                    <div id="panelBodySLAP" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class=" table-responsive">
                                                <table class="table table-hover ">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:30px;">Instalacion</th>
                                                            <th class="col-md-6">Informacion</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>TWR</td>
                                                            <td>DESDE 31/DIC/19 HR 1255 FRECUENCIA 118.9 MHZ INUTILIZABLE HASTA 31/ENE/20 HR 1800 EST.   (C3297)   </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6  wow fadeInRight">
                        <div class="containerpib">
                            <div id="accordion" class="panel-group">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#panelBodySLBJ" class="accordion-toggle" data-toggle="collapse"
                                                data-parent="#accordion">SLBJ</a>
                                        </h4>
                                    </div>
                                    <div id="panelBodySLBJ" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class=" table-responsive">
                                                <table class="table table-hover ">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:30px;">Instalacion</th>
                                                            <th class="col-md-6">Informacion</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>ATS/COM/MET</td>
                                                            <td>DESDE 31/DIC/19 HR 1405 SERVICIOS EN AERODROMO SIN ATENCION HASTA 31/ENE/20 HR 1800 EST.   (C3299)  </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#panelBodySLCO" class="accordion-toggle collapsed"
                                                data-toggle="collapse" data-parent="#accordion">SLCO</a>
                                        </h4>
                                    </div>
                                    <div id="panelBodySLCO" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class=" table-responsive">
                                                <table class="table table-hover ">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:30px;">Instalacion</th>
                                                            <th class="col-md-6">Informacion</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>AD</td>
                                                            <td>DESDE 29/DIC/19 HR 1325 OPERACIONES NOCTURNAS EN AERODROMO SIN ATENCION HASTA 28/FEB/20 HR 2359   (C3261) </td>
                                                        </tr>
                                                        <tr>
                                                            <td>AVGAS 100</td>
                                                            <td>DESDE 16/ENE/20 HR 1300 NO DISPONIBLE HASTA 20/ENE/20 HR 2200 EST.   (C0115)   </td>
                                                        </tr>
                                                        <tr>
                                                            <td>DTHR</td>
                                                            <td> 	DESDE 29/DIC/19 HR 1357 UMBRAL DE PISTA 02/20 DESPLAZADO PRIMEROS 100 M PISTA DISPONIBLE 1 800 M OPERACIONES CON PRECAUCION COORDINAR CON TORRE HASTA 28/FEB/20 HR 2359   (C3265) </td>
                                                        </tr>
                                                        <tr>
                                                            <td>IAC</td>
                                                            <td>DESDE 30/NOV/19 HR 2032 CARTA DE APROXIMACION POR INSTRUMENTOS RNAV GNSS "Z" PISTA/02 SLCO SOLAMENTE UTILIZACION MINIMOS PUBLICADOS PARA CIRCULACION VISUAL, MINIMOS DE TECHO Y VISIBILIDAD PARA APROXIMACION DIRECTA PISTA/02 SUSPENDIDOS HASTA 30/MAR/20 HR 2300 EST.   (C2991)  </td>
                                                        </tr>
                                                        <tr>
                                                            <td>REDL</td>
                                                            <td>DESDE 29/DIC/19 HR 1335 LUCES DE BORDE DE PISTA 02/20 INUTILIZABLE HASTA 28/FEB/20 HR 2359   (C3263)   </td>
                                                        </tr>
                                                        <tr>
                                                            <td>RTHL</td>
                                                            <td>DESDE 29/DIC/19 HR 1329 LUCES DE UMBRAL DE PISTA 02/20 INUTILIZABLE HASTA 28/FEB/20 HR 2359   (C3262)  </td>
                                                        </tr>
                                                        <tr>
                                                            <td>TWY</td>
                                                            <td>DESDE 15/ENE/20 HR 1955 CALLE DE RODAJE "B" TEMPORALMENTE HABILITADA:
                                                                ANCHURA:23 M
                                                                SUPERFICIE: PAVIMENTO FLEXIBLE
                                                                RESISTENCIA: PCN 43/F/C/X/T
                                                                HASTA 30/ABR/ HR 2300 EST.   (C0109)    </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#panelBodySLCC" class="accordion-toggle collapsed"
                                                data-toggle="collapse" data-parent="#accordion">SLCC</a>
                                        </h4>
                                    </div>
                                    <div id="panelBodySLCC" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class=" table-responsive">
                                                <table class="table table-hover ">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:30px;">Instalacion</th>
                                                            <th class="col-md-6">Informacion</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>AD</td>
                                                            <td>DESDE 29/NOV/19 HR 1547 AERODROMO CERRADO HASTA 28/FEB/20 HR 2200 EST.   (C2970)  </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br><br><br>

            </div>

        </section>
============================-->

    <!--  style="background: linear-gradient(-45deg,#0399cf,#104e64, #104e64, #0399cf);"#features -->

    <!--==========================
      About Us Section
    ============================-->
    <!-- <section id="about" class="section-bg">
        <div class="container-fluid">
            
            <div class="section-header">
                <h3 class="section-title">About Us</h3>
                <span class="section-divider"></span>
                <p class="section-description">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque<br>
                    sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>

            <div class="row">
                <div class="col-lg-6 about-img wow fadeInLeft">
                    <img src="img/about-img.jpg" alt="">
                </div>

                <div class="col-lg-6 content wow fadeInRight">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elite storium paralate</h2>
                    <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                        anim id est
                        laborum.</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>

                    <ul>
                        <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </li>
                        <li><i class="ion-android-checkmark-circle"></i> Duis aute irure dolor in reprehenderit in
                            voluptate
                            velit.</li>
                        <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro
                            dolore eu fugiat
                            nulla pariatur.</li>
                    </ul>

                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum Libero justo laoreet
                        sit amet
                        cursus sit amet dictum sit. Commodo sed egestas egestas fringilla phasellus faucibus
                        scelerisque eleifend
                        donec
                    </p>
                </div>
            </div>

        </div>
    </section> -->
    <!-- #about -->

    <!--==========================
      Product Featuress Section
    ============================-
    <section id="features">
        <div class="container">

            <div class="row">

                <div class="col-lg-8 offset-lg-4">
                    <div class="section-header wow fadeIn" data-wow-duration="1s">
                        <h3 class="section-title">Product Featuress</h3>
                        <span class="section-divider"></span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-5 features-img">
                    <img src="img/product-features.png" alt="" class="wow fadeInLeft">
                </div>

                <div class="col-lg-8 col-md-7 ">

                    <div class="row">

                        <div class="col-lg-6 col-md-6 box wow fadeInRight">
                            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                                excepturi sint
                                occaecati cupiditate non provident clarida perendo.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
                            <div class="icon"><i class="ion-ios-flask-outline"></i></div>
                            <h4 class="title"><a href="">Dolor Sitema</a></h4>
                            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea
                                commodo consequat tarad limino ata noble dynala mark.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
                            <div class="icon"><i class="ion-social-buffer-outline"></i></div>
                            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu
                                fugiat nulla pariatur teleca starter sinode park ledo.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
                            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                            <h4 class="title"><a href="">Magni Dolores</a></h4>
                            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                officia
                                deserunt mollit anim id est laborum dinoun trade capsule.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </secton>
    
    #features -->

</main>


<main id="main">
    <div class="contenedor">
        <div class="mapa">
            <div id="map"></div>
        </div>
        <div class="info_1">
            <h2>NOTAM VIGENTES</h2>
            <br>
            <br>

            <div class="container " style="margin-left: 5%;">
                <div class="col">

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">NOTAMR</h4>
                                <h6 class="card-subtitle mb-2">C0063/21 NOTAMR C0016/21</h6>
                                <p class="card-text">

                                    Q) SLLF/QCAAS/IV/NBO/AE/000/999/1630S06810W010
                                    <br>
                                    A) SLLP B) 1201202031 C) 1201302200 EST
                                    <br>
                                    E) TMA FREQ 123,9 MHZ U/S
                                    <br>
                                    <br>
                                </p>
                                <a href="#" class="card-link text-primary">Ver histórico</a>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="card text-left">
                            <div class="card-body">
                                <h4 class="card-title">NOTAMR</h4>
                                <h6 class="card-subtitle mb-2">C0063/21 NOTAMR C0016/21</h6>
                                <p class="card-text">

                                    Q) SLLF/QCAAS/IV/NBO/AE/000/999/1630S06810W010
                                    <br>
                                    A) SLLP B) 1201202031 C) 1201302200 EST
                                    <br>
                                    E) TMA FREQ 123,9 MHZ U/S
                                    <br>
                                    <br>
                                </p>
                                <a href="#" class="card-link text-primary ">Ver histórico</a>
                            </div>
                        </div>
                    </div>
                    <br>


                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="card text-left">
                            <div class="card-body">
                                <h4 class="card-title">NOTAMR</h4>
                                <h6 class="card-subtitle mb-2">C0063/21 NOTAMR C0016/21</h6>
                                <p class="card-text">

                                    Q) SLLF/QCAAS/IV/NBO/AE/000/999/1630S06810W010
                                    <br>
                                    A) SLLP B) 1201202031 C) 1201302200 EST
                                    <br>
                                    E) TMA FREQ 123,9 MHZ U/S
                                    <br>
                                    <br>
                                </p>
                                <a href="#" class="card-link text-primary ">Ver histórico</a>
                            </div>
                        </div>
                    </div>
                    <br>


                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="card text-left">
                            <div class="card-body">
                                <h4 class="card-title">NOTAMR</h4>
                                <h6 class="card-subtitle mb-2">C0063/21 NOTAMR C0016/21</h6>
                                <p class="card-text">

                                    Q) SLLF/QCAAS/IV/NBO/AE/000/999/1630S06810W010
                                    <br>
                                    A) SLLP B) 1201202031 C) 1201302200 EST
                                    <br>
                                    E) TMA FREQ 123,9 MHZ U/S
                                    <br>
                                    <br>
                                </p>
                                <a href="#" class="card-link text-primary ">Ver histórico</a>
                            </div>
                        </div>
                    </div>
                    <br>


                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="card text-left">
                            <div class="card-body">
                                <h4 class="card-title">NOTAMR</h4>
                                <h6 class="card-subtitle mb-2">C0063/21 NOTAMR C0016/21</h6>
                                <p class="card-text">

                                    Q) SLLF/QCAAS/IV/NBO/AE/000/999/1630S06810W010
                                    <br>
                                    A) SLLP B) 1201202031 C) 1201302200 EST
                                    <br>
                                    E) TMA FREQ 123,9 MHZ U/S
                                    <br>
                                    <br>
                                </p>
                                <a href="#" class="card-link text-primary ">Ver histórico</a>
                            </div>
                        </div>
                    </div>
                    <br>

                </div>
            </div>

        </div>




        <div class="info_2">
            <h2>NOTAM NUEVOS</h2>
            <div class="container py-2 mt-4 mb-4">
                <!-- timeline item 1 -->
                <div class="row">
                    <!-- timeline item 1 left dot -->
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <h5 class="m-2">
                            <span class="badge badge-pill bg-light border">&nbsp;</span>
                        </h5>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <!-- timeline item 1 event content -->
                    <div class="py-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-right text-muted">Mon, Jan 9th 2019 7:00 AM</div>
                                <h4 class="card-title text-muted">Day 1 Orientation</h4>
                                <p class="card-text">Welcome to the campus, introduction and get started with the tour.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <!-- timeline item 2 -->
                <div class="row">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <h5 class="m-2">
                            <span class="badge badge-pill bg-light border">&nbsp;</span>
                        </h5>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="py-2">
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="float-right">Tue, Jan 10th 2019 8:30 AM</div>
                                <h4 class="card-title">Day 2 Sessions</h4>
                                <p class="card-text">Sign-up for the lessons and speakers that coincide with your course
                                    syllabus. Meet and greet with instructors.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <!-- timeline item 3 -->
                <div class="row">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <h5 class="m-2">
                            <span class="badge badge-pill bg-light border">&nbsp;</span>
                        </h5>
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class=" py-2 ">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-right text-muted">Wed, Jan 11th 2019 8:30 AM</div>
                                <h4 class="card-title">Day 3 Sessions</h4>
                                <p>Shoreditch vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next
                                    level.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <!-- timeline item 4 -->
                <div class="row">
                    <div class="col-auto text-center flex-column d-none d-sm-flex">
                        <div class="row h-50">
                            <div class="col border-right">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                        <h5 class="m-2">
                            <span class="badge badge-pill bg-light border">&nbsp;</span>
                        </h5>
                        <div class="row h-50">
                            <div class="col">&nbsp;</div>
                            <div class="col">&nbsp;</div>
                        </div>
                    </div>
                    <div class="py-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="float-right text-muted">Thu, Jan 12th 2019 11:30 AM</div>
                                <h4 class="card-title">Day 4 Wrap-up</h4>
                                <p>Join us for lunch in Bootsy's cafe across from the Campus Center.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
            </div>
        </div>
    </div>
</main>


<div id="carousel">
    <!--  -->
    <ul>
        <li class="pane1">
            <h2>
                NOTAMN serie Charly Nacional
            </h2>
            <div id="area" style="height: 85%; width: 85%;margin-left: 3%;margin-top: 10%;">
                {% area_chart areas with id='areas'  %}
            </div>
        </li>

        <li class="pane2">
            <h2>
                NOTAMR serie Charly Nacional
            </h2>
            <div id="area" style="height: 85%; width: 85%;margin-left: 3%;margin-top: 10%;">
                {% area_chart areas1 with id='areas1' %}
            </div>
        </li>
        <li class="pane3">
            <h2>
                NOTAMN serie Alfa Internacional
            </h2>
            <div id="area" style="height: 85%; width: 85%;margin-left: 3%;margin-top: 10%;">
                {% area_chart areas2 with id='areas2' %}
            </div>
        </li>
        <li class="pane4">
            <h2>
                NOTAMR serie Alfa Internacional
            </h2>
            <div id="area" style="height: 85%; width: 85%;margin-left: 3%;margin-top: 10%;">
                {% area_chart areas3 with id='areas3' %}
            </div>
        </li>
        <li class="pane5">
            <h2>Estadistica General y Comparativa</h2>
        </li>
    </ul>
</div>

{% endblock content %}







{% block extra_js %}
<script>
    function abrir_modal(url) {
        //alert(url);
        $("#modalLogin").load(url.trim(), function () {
            $(this).modal('show');
        });
    }
</script>

<!--PIB EN REAL TIME -->
<script src="{% static 'pib_acordeon/acordeon.js' %}"></script>
<!--MAPA NOTAM -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js'></script>
<script src="{% static 'notam_map/map.js' %}"></script>
<!--PRELOADER-->
<script>
    $(window).on('load', function () {
        $(".loader__page").css({ visibility: "hidden", opacity: "0" });
    });
</script>

<!-- BANNER MODAL LOGIN -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<!-- SLIDER IN HAMMER JS AND JQUERY -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{% static 'notametro/script.js' %}"></script>

{% endblock extra_js %}