{% extends "temp_plan_vuelo/base.html" %}
{% load static %}
{% load chartkick %}


{% block title %}
<title>appUpsilon</title>
{% endblock title %}




{% block extra_head %}

<link rel="stylesheet" href="{% static 'index_public/css/preloader.css' %} ">

<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static 'index_public/css/header.css' %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pushbar.js@1.0.0/src/pushbar.min.css">
<link rel="stylesheet" href="{% static 'index_public/css/banner.css' %}">

<!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" /> -->
<!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" /> -->
<link rel="stylesheet" href="{% static 'index_public/css/tiempo.css' %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pushbar.js@1.0.0/src/pushbar.min.css">
<link rel="stylesheet" href="{% static 'index_public/css/sidebar.css' %}">

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css'>
<link rel="stylesheet" href="{% static 'index_public/css/mapa.css' %}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'index_public/css/acordeon.css' %}">

<link rel="stylesheet" href="{% static 'index_public/css/grafico.css' %}">

<link rel="stylesheet" href="{% static 'index_public/css/banco_notam.css' %}">

<!--Agregando data visualization-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/chartkick/2.3.0/chartkick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.js"></script>
<script src="https://www.gstatic.com/charts/loader.js"></script>

<!--  Agregando el slider  touch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
<link rel="stylesheet" href="{% static 'notametro/estilos.css' %}">





{% endblock extra_head %}






{% block content %}
<!--==========================
        preloader
============================-->

<div class="loader__page">
  <img src="{% static 'index_public/img/preloader/logo_1.svg' %}" alt="logo_uno" class="inicial__uno">
  <img src="{% static 'index_public/img/preloader/logo_2.svg' %}" alt="logo_dos" class="inicial__dos">
  <img src="{% static 'index_public/img/preloader/logo_3.svg' %}" alt="logo_tres" class="inicial__tres">
</div>




<section id="particles-js">
  <div class="contenedor">
    <div class="banner__logo">
      <div class="banner__loader">
        <img src="{% static 'index_public/img/banner/logo_1.svg' %}" alt="banner_uno" class="banner__uno">
        <img src="{% static 'index_public/img/banner/logo_2.svg' %}" alt="banner_dos" class="banner__dos">
        <img src="{% static 'index_public/img/banner/logo_3.svg' %}" alt="banner_tres" class="banner__tres">
      </div>
    </div>
    <div class="banner__info">
      <h1>Sistema de Información Aeronautica
        <br>
        NOTAM / PIB
      </h1>
      <!--
          <button class="btn__ingresar">Iniciar Sesión</button>
        -->
      <a href="{% url 'login' %}" class="btn__ingresar" style="height: 200px;">Iniciar Sesión</a>
    </div>
    <div class="banner__video">
      <!-- <iframe src="https://www.youtube.com/embed/C64kj7-oKpM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>  -->
    </div>
  </div>
</section>

<!-- IFIS SERVER NUKLEAR https://www.youtube.com/embed/BoGlBg8bDJA -->
<div id="segundo"></div>
<section id="app2" class="acordeones">
  <div style="background-color: rgb(175, 229, 250);color: rgb(29, 103, 163);margin-bottom: 0%; ">
    <div>
      <div class="container" style="z-index: 999;">
        <table class="table-hover" style="text-align: center; " cellpadding="15">
          <thead>
            <tr>
              <th style="padding-bottom: 0;" style="background: #d3fafb;"> <br><br> BOLETIN DE INFORMACIÓN PREVIA AL
                VUELO </th>
              <th style="padding-bottom: 0;"> <br> <br> Fecha y Hora de Actualización</th>
              <th style="padding-bottom: 0;"> <br> <br> Área Cubierta</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td> P I B
              </td>
              <td> [[last_updated]] <div class="spinner-grow spinner-grow-sm text-success"></div>
              </td>
              <td>FIR LA PAZ</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>



  </div>

  <div class="menu__acordeon">
    <div class="menu__acordeon__uno">
      <div class="contenido__menu">


        <div v-if="!sw_parte1" class="spinner-grow text-info"
          style="width:15vh;height: 15vh;margin-left: 45%;margin-top: 30%;"></div>

        <div class="accordion accordion-flush" id="accordion">
          <div class="accordion-item" style="padding-top: 5px;" v-for="imp of impar" v-for="nombre of nombres">
            <h2 class="accordion-header" :id="[imp.f]">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                :data-bs-target="[imp.h2]" aria-expanded="false" :aria-controls="[imp.h]" @click="mensaje">
                <strong>[[imp.lugar]]</strong> - [[imp.nombre]] 
              </button>
            </h2>
            <div :id="[imp.h]" class="accordion-collapse collapse" :aria-labelledby="[imp.f]"
              data-bs-parent="#accordion">
              <div class="accordion-body">
                <!-- 
                    <h4><code>Aeropuerto de</code></h4>
                    <h5>Historial del Lugar</h5>
                    <h6><code>Nombre Lugar: [[imp.lugar]] </code></h6> 
                  -->

                <div class="table-responsive" style="height:30vh;">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Instalación</th>
                        <th scope="col">Información</th>
                        <th scope="col">Referencia</th>
                      </tr>
                    </thead>

                    <tbody style="font-size:11px;">
                      <tr v-for="nombre of nombres" v-if="imp.lugar === nombre.lugar">
                        <th scope="row"> [[nombre.asunto]] </th>
                        <td>
                          <!-- [[nombre.desde]] -->
                          [[nombre.espaniol_decodificado]]
                          <!-- [[nombre.hasta]] -->
                        </td>
                        <td>
                          [[nombre.correlativo]]
                          <br>
                          <div v-if="nombre.tipo">
                            <span style="color: rgb(16, 233, 113);">Enmienda</span>
                            <div class="spinner-grow spinner-grow-sm text-success" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu__acordeon__dos">
      <div class="contenido__menu">

        <!-- [[listado.apply()]] -->
        <div v-if="!sw_parte2" class="spinner-grow text-info"
          style="width:15vh;height: 15vh;margin-left: 45%;margin-top: 30%;"></div>

        <div class="accordion accordion-flush" id="accordion2">
          <div class="accordion-item" style="padding-top: 5px;" v-for="pa of par" v-for="nombre of nombres">
            <h2 class="accordion-header" :id="[pa.f]">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                :data-bs-target="[pa.h2]" aria-expanded="false" :aria-controls="[pa.h]" @click="mensaje">
                <strong>[[pa.lugar]]</strong> - [[pa.nombre]]
              </button>
            </h2>
            <div :id="[pa.h]" class="accordion-collapse collapse" :aria-labelledby="[pa.f]"
              data-bs-parent="#accordion2">
              <div class="accordion-body">
                <!-- <h4><code>Aeropuerto de </code></h4>
                  <h5>Historial del Lugar</h5>
                  <h6><code>Nombre Lugar: [[pa.lugar]] </code></h6> -->

                <div class="table-responsive" style="height:30vh;">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Asunto</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Referencia</th>
                      </tr>
                    </thead>

                    <tbody style="font-size:11px;">
                      <tr v-for="nombre of nombres" v-if="pa.lugar === nombre.lugar">
                        <th scope="row"> [[nombre.asunto]] </th>
                        <td>
                          <!-- [[nombre.desde]]  -->
                          [[nombre.espaniol_decodificado]]
                          <!-- [[nombre.hasta]]  -->
                        </td>
                        <td>
                          [[nombre.correlativo]]
                          <br>
                          <div v-if="nombre.tipo">
                            <span style="color: rgb(16, 233, 113);">Enmienda</span>
                            <div class="spinner-grow spinner-grow-sm text-success" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="tercero" class="mapa__colores">
  <div class="contenido__mapa__col">
    <div class="cont__mapa__col">
      <div id="map"></div>
    </div>

    <div class="cont__mapa_info" id="notam_query" style="overflow: auto;">

      <div>
        <div style="height: 50px;">
          <br>
          <h5 style="text-align: center;">NOTAMAP</h5>
        </div>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">NOTAM CHARLIE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">NOTAM ALPHA</a>
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane active" id="tabs-1" role="tabpanel">
          <h3 style="margin-left: 40%;">[[titulo]]</h3>
          <div v-if="sw_c" class="spinner-border text-info"
            style="width: 60px; height: 60px; margin-top: 3%;margin-left: 40%;"></div>
          <h5 v-if="vector_notam.length == 0">[[respuesta_charlie]]</h5>
          <div v-else v-for="notam in vector_notam" class="card">
            <div class="card-body">
              <p style="font-size: small;">
                [[notam.idnotam]]
                <br>
                [[notam.resumen]]
                <br>
                [[notam.aplica_a]]
                [[notam.valido_desde]]
                [[notam.valido_hasta]]
                <br>
                [[notam.mensaje]]
                <br>
              </p>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tabs-2" role="tabpanel">
          <h3 style="margin-left: 40%;">[[titulo]]</h3>
          <div v-if="sw_a" class="spinner-border text-info"
            style="width: 60px; height: 60px; margin-top: 3%;margin-left: 40%;"></div>
          <h5 v-if="vector_notam.length == 0">[[respuesta_alpha]]</h5>
          <div v-else v-for="notam in vector_notam_alpha" class="card">
            <div class="card-body">
              <p style="font-size: small;">
                [[notam.idnotam]]
                <br>
                [[notam.resumen]]
                <br>
                [[notam.aplica_a]]
                [[notam.valido_desde]]
                [[notam.valido_hasta]]
                <br>
                [[notam.mensaje]]
                <br>
              </p>
            </div>
          </div>
        </div>

      </div>


    </div>



  </div>
</section>


<section id="cuarto">
  <div id="carousel">
    <ul>
      <li class="pane1">
        <h2>
          <br>
          NOTAMN VIGENTES - NTL e INTL
          <!-- <br><pre style="font-size: 8;">Origen de datos: AMHS System</pre> -->
        </h2>


        <div id="area" style="height: 85%; width: 85%;margin-left: 3%;margin-top: 10%;">
          {% area_chart areas with id='areas' %}
        </div>
      </li>
      <li class="pane2">
        <h2>
          <br>
          NOTAMR VIGENTES - NTL e INTL
        </h2>

        <!-- <br><pre style="font-size: 8;">Origen de datos: AMHS System</pre> -->

        <div id="area" style="height: 85%; width: 85%;margin-left: 3%;margin-top: 10%;">
          {% area_chart areas1 with id='areas1' %}
        </div>
      </li>

      <!-- 
            <li class="pane3">
                <h2>
                    NOTAMN serie Alfa Internacional
                </h2>
                <div id="area" style="height: 85%; width: 85%;margin-left: 3%;margin-top: 10%;">
                    {% area_chart areas2 with id='areas2' %}
                </div>
            </li>
            <li class="pane4">
                <h2>
                    NOTAMR serie Alfa Internacional
                </h2>
                <div id="area" style="height: 85%; width: 85%;margin-left: 3%;margin-top: 10%;">
                    {% area_chart areas3 with id='areas3' %}
                </div>
            </li>
            <li class="pane5">
                <h2>Estadistica General y Comparativa</h2>
            </li> -->
    </ul>
  </div>

</section>



<section id="quinto">
  <div id="app_rqn">
    <div id="container__cael">
      <svg id="svg-icon_cael" viewBox="0 0 20 20" onclick="searchExpand()">
        <path id="path__cael" fill="none" d="M19.129,18.164l-4.518-4.52c1.152-1.373,1.852-3.143,1.852-5.077c0-4.361-3.535-7.896-7.896-7.896
                  c-4.361,0-7.896,3.535-7.896,7.896s3.535,7.896,7.896,7.896c1.934,0,3.705-0.698,5.078-1.853l4.52,4.519
                  c0.266,0.268,0.699,0.268,0.965,0C19.396,18.863,19.396,18.431,19.129,18.164z M8.567,15.028c-3.568,0-6.461-2.893-6.461-6.461
                  s2.893-6.461,6.461-6.461c3.568,0,6.46,2.893,6.46,6.461S12.135,15.028,8.567,15.028z"></path>
      </svg>

      <input type="text" id="search__cael" placeholder="RQN SLLF A1234/21 A0123/21 A01451/21"
        v-model="request.query_notam" @input="request.query_notam = $event.target.value.toUpperCase()"
        v-on:keyup.enter="activar_rqn">
      <!-- <textarea name="" id="search" placeholder="Search" cols="30" rows="10"></textarea> -->


    </div>


    <!-- Button trigger modal -->
    <button id="button_launch" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"
      style="display: none;">
      Launch
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">RQN NOTAM AMHS SLLF</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div v-for="notam of request.array_list">
              [[notam.aftn1]]
              <br>
              [[notam.aftn2]]
              <br>
              [[notam.idnotam]]
              <br>
              [[notam.resumen]]
              <br>
              [[notam.aplica_a]]
              <br>
              [[notam.valido_desde]]
              <br>
              [[notam.valido_hasta]]
              <br>
              [[notam.mensaje]]
              <br>
              <br>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




{% endblock content %}







{% block extra_js %}
<script src="{% static 'index_public/js/header.js' %}"></script>

<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{% static 'index_public/js/particles.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>


<!-- <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script> -->
<!-- <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script> -->

<script src="{% static 'index_public/js/mapa.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'index_public/js/preloader.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/pushbar.js@1.0.0/src/pushbar.min.js"></script>
<script src="{% static 'index_public/js/sidebar.js' %}"></script>

<script>
  function searchExpand() {
    const element = document.getElementById("container__cael");
    element.classList.toggle("active");
  }
</script>



<script>
  var componente = new Vue({
    el: '#notam_query',
    delimiters: ['[[', ']]'],
    data: {
      titulo: "",
      respuesta_charlie: "",
      respuesta_alpha: "",
      vector_notam: [],
      vector_notam_alpha: [],
      sw_a: false,
      sw_c: false
    },
    computed: {
      funcion1: function (vector_obj) {
        this.respuesta_charlie = "DB";
      },
    },
    methods: {
      recibiendo_datos_db: function (vector_obj, vector_obj2) {
        if (vector_obj.length > 0) {
          this.vector_notam = vector_obj;
        } else {
          this.vector_notam = [];
          this.respuesta_charlie = "Ningún resultado charlie.";
        }
        this.sw_c = false;

        if (vector_obj2.length > 0) {
          this.vector_notam_alpha = vector_obj2;
        } else {
          this.vector_notam_alpha = [];
          this.respuesta_alpha = "Ningún resultado alpha.";
        }
        this.sw_a = false;

      },
      cambiando_titulo: function (titulo) {
        this.titulo = titulo;
        this.respuesta_charlie = "";
        this.respuesta_alpha = "";
        this.vector_notam = [];
        this.vector_notam_alpha = [];
      }
    }
  }
  );
</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js'></script>
<script src="{% static 'index_public/js/map_color.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> -->

<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
  integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
  integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
<script src="{% static 'index_public/js/acordeon_vue.js' %}"></script>

<!-- SLIDER IN HAMMER JS AND JQUERY -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
<script src="{% static 'notametro/script.js' %}"></script>


<script>
  app_rqnnotam = new Vue({
    el: "#app_rqn",
    delimiters: ['[[', ']]'],
    data: {
      request: {
        query_notam: "",
        array_list: ['nada']
      },
    },

    //created(){},
    methods: {
      activar_rqn() {
        //alert("entrando a buscar rqn " + this.request.query_notam);
        /*
        ACTIVAR UNA FUNCION PIDIENDO LISTA DE ASUNTOS
        */


        (async () => {
          //alert("INTENTANDO EN LA bd")
          await this.search_rqn_notam(this.request.query_notam)
        })();
      },
      search_rqn_notam: async function (parametro) {
        parametro = parametro.toUpperCase();
        const url = 'https://upsilon.aasana.ga/rqn_notam/' + "?rqn_notam=" + parametro;

        await axios.get(url).then(response => {
          this.request.array_list = response.data.request_rqn;
          $('#button_launch').click();
        }
        ).catch(
          function (error) {
            console.log(error);
          }
        );
      },


    },

  });

  $(function () {
    setInterval(() => {
      app2.listado.apply();
    }, 20000);
  }
  );
</script>

{% endblock extra_js %}