{% extends "temp_plan_vuelo/base.html" %}



{% block content %}

<section id="intro">

    <div class="row">
        <div class="col-lg-6 about-img wow fadeInRight" style="margin-top: 15%;">
            <div class="container" style="text-align: center;">


                <form action="" method="post">
                    {% csrf_token %}
                    {% if form.email.errors %} {{ form.email.errors }} {% endif %}


                    <div class="group">
                        <p>{{ form.email }}</p>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                    </div>
                    <input type="submit" class="btn btn-default btn-lg" value="Cambiar password" />
                </form>
            </div>
        </div>

    </div>

    {% endblock %}